{
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
        "globals": {
        "define": true,
        "ENV": true,
        "ASSETSLOCATION": true,
        "PROTOCOL": true
    },
    "env": {
        "es6": false,
        "node": false,
        "browser": true
    },
    "plugins": ["requirejs"],

    "extends": "eslint:recommended"
}
