<?php
// Enables CONTRIBOOK (required mysql database)
define('CONTRIBOOK', 0);

// Defines the author id of the official user posting announcements (used to produce rss feed)
define('OFFICIALAUTHORID', 1);

// Enables or disables the piwik tracking code
define('PIWIKTRACKING', 0);

// Recaptcha
DEFINE('RECAPTCHA_SITEKEY', '');
DEFINE('RECAPTCHA_SECRET', '');
define('MAUTIC_URL', 'https://mautic.nextcloud.com');
define('MAUTIC_USERNAME', 'username');
define('MAUTIC_PASSWORD', 'password');

// Providers
define('PROVIDERS_FILE', ABSPATH . 'preferred.json');
define('REDIS', 'tcp://127.0.0.1:6379');
define('PPP_KEY', 'c59cf7fa39d4ed2cdaf1997cc16f902e');

// Phplist
define('NEWSLETTER_API_URL', '');
define('NEWSLETTER_ID', 0);
define('NEWSLETTER_API_USER', 'admin');
define('NEWSLETTER_API_TOKEN', 'password');