@import '../variables';
@import '../modules/transparent-navbar';

.about-background {
  background: url("../../img/headers/about.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

footer.page-footer {
	margin-top: 20px;
}

section {
	padding-top: 80px;
/* 	display: inline-block; */

	.section--heading-1 {
		padding: 80px 0 30px 0;
		text-align: center;
	}

	.section--intro {
		font-weight: 600;
		padding-top: 30px;
        color: $dark-blue;

		@media (max-width: $break-small) {
			text-align: left !important;
		}
	}

    .newsrow {
        margin-top: 70px;
		margin-bottom: 30px;

		.col-md-4 {
			padding: 15px;
		}
    }
}

.section--products {
    margin: 80px 0 0 0;
    padding: 90px 0 70px 0;
    background-color: #eee;
    .row {
        margin-bottom: 10px;
    }
    img {
        padding: 20px;
    }
    .description {
        min-height: 100px;
        margin: 0 20px;
        .title {
            display: block;
            padding: 5px 10px 0 0;
            font-size: 18px;
/*             color: white; */
            .logo {
                width: 65px;
                min-height: 25px;
                float:left;
                vertical-align: middle;
                img {
                    margin-top: 0px;
                    padding: 4px 5px 0 0;
                    height: 60px;
                    width: 60px;
                }
            }
            .text {
                line-height: 1;
                padding: 10px 0 10px 0;
                strong {
                    line-height: 1.2;
                    font-weight: normal;
                    font-size: 22px;
                }
                small {
                    opacity: 0.8;
                }
            }
        }


    }
}
