/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* New widest container for headers */
.container-widest {
  max-width: 1800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-widest .container-widest {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container-widest .container-widest {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .container-widest .container-widest {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .container-widest .container-widest {
    width: 1470px;
  }
}
@media (min-width: 1800px) {
  .container-widest .container-widest {
    width: 1770px;
  }
}

/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute;
}

.about-background {
  background: url("../../img/headers/about.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

footer.page-footer {
  margin-top: 20px;
}

section {
  padding-top: 80px;
  /* 	display: inline-block; */
}
section .section--heading-1 {
  padding: 80px 0 30px 0;
  text-align: center;
}
section .section--intro {
  font-weight: 600;
  padding-top: 30px;
  color: #2a2a36;
}
@media (max-width: 768px) {
  section .section--intro {
    text-align: left !important;
  }
}
section .newsrow {
  margin-top: 70px;
  margin-bottom: 30px;
}
section .newsrow .col-md-4 {
  padding: 15px;
  position: relative;
}
section .newsrow .col-md-4 span {
  /* 				margin-top: -50px; */
  color: #6c6c6c;
  border-bottom: none;
  text-decoration: none;
  position: absolute;
  top: 50%;
  padding: 0 20px 0 10px;
  font-size: 120%;
}

.section--differentiators .quote--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 30px 40px;
  background: #FFFFFF;
  border: 1px solid #FCFCFC;
  -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
  margin: 30px 20px;
}
@media (min-width: 991px) {
  .section--differentiators .quote--container {
    float: right;
    width: 40%;
    min-width: 300px;
  }
}
.section--differentiators .quote--container blockquote {
  font-style: italic;
  font-size: 1.6em;
  margin: 0;
}
.section--differentiators .quote--container .quote--brand {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--differentiators .quote--container .quote--brand .quote--brand--logo {
  background: url("../../img/conference/der-spiegel-logo.png") no-repeat center/contain;
  width: 46px;
  height: 46px;
}
.section--differentiators .quote--container .quote--brand .quote--brand--text a {
  margin: 0;
  padding: 0 0 0 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  color: #6c6c6c;
}

.img-responsive {
  padding-top: 10px;
}
@media (min-width: 991px) {
  .img-responsive {
    margin-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  .img-responsive {
    /* 	margin-bottom: 0px; */
  }
}

/*# sourceMappingURL=about.css.map */
