@import '../variables';
@import '../modules/transparent-navbar';
@import '../../fonts/fork-awesome/css/fork-awesome.min';

.advisory-background {
	background-image: url('../../img/headers/advisory.jpg');
	background-size: cover;
	background-position: center;
}

section {
    padding: 50px 0 50px;
    .section--heading-1 {
        padding-bottom: 50px;
    }
    .section--paragraph--tittle {
        padding: 0;
    }
    p {
        padding-bottom: 10px;
    }
}

.section--overview {
    p {
        margin-top: 20px;
    }
}

.section--benefits {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-botton: 0;
}
