@import '../variables';
@import '../modules/transparent-gradient';
@import '../modules/transparent-navbar';
@import '../../fonts/fork-awesome/css/fork-awesome.min';

.blog-background {
	background: url('../../img/headers/background-transparent.png') no-repeat;
	background-color: #0082c9;
	background-position: center;
	background-size: cover;
	@media (min-width: $break-small) {
		height: 100vh;
		min-height: 800px;
	}
	height: 50vh;
}
html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #0082c9;
}

section {
	height: 100%;
	.container {
		height: 100%;
		.row {
			height: 100%;
			.col-md-10 {
				height: 100%;
				@media (min-width: $break-small) {
					padding-left: 50px;
					padding-right: 50px;
				}

			}
		}
	}
}

.section--blog-header {
}

.section--content {
	.container {
		.row {
			position: relative;
			.transparent {
				position: absolute;
				top: 0;
				z-index: -1;
				margin-left: -50px;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				width: 100%;
				height: 50vh;
				background-color: rgba(244,248,251,0.95);;
				margin-top: 0px;
				padding-bottom: 0%;
				@media (max-width: $break-small) {
					display: none;
				}
			}
			.white {
				position: absolute;
				top: 50vh;
				z-index: -1;
				margin-left: -50px;
				width: 100%;
				height: calc(100% - 50vh);
				background-color: white;
				margin-top: 0px;
				@media (max-width: $break-small) {
					display: none;
				}
			}
			.content {
				z-index: 10;
				@media (min-width: $break-small) {
					margin-top: -50vh;
					padding-top: 0;
					background: none;
				}
				background: white;
				margin-top: -5px;
				padding-bottom: 30px;

				h1 {
					margin-top: 5px;
					font-size: 50px;
					font-weight: 300;
				}

				h2 {
					font-size: 20px;
				}

				blockquote {
					p {
						display: inline;
					}
				}
				blockquote:before {
				}
				blockquote:after {
				}

				li {
					list-style-image: url("../../img/enterprise/dot-small.svg");
				}

				figure {
					border: 1px solid #eee;
					padding: 5px;
					border-radius: 10px;
					img {
						float: none;
					}
				}


				img {
					max-width: 100% !important;
					height: auto !important;
				}

				@media (max-width: $break-small) {
					img {
						max-width: 90vw !important;
					}
				}

				img.fullwidth {
						margin: 0 -50px; /* cancel out page margin */
						width: calc(100% + 100px) !important; /* account for double page margin */
						max-width: 100vw !important;
				}

				.blog-metadata {
					padding-bottom: 30px;
					img {
						width: 20px !important;
					}
				}

			}
		}
	}
}

.section--footer {
	.container {
		.row {
			.col-md-10 {
				padding-top: 20px;
				padding-bottom: 100px;
				background: white;
			}
		}
	}
}

