@import '../variables';
@import '../modules/transparent-gradient';
@import '../modules/transparent-navbar';
@import '../../fonts/fork-awesome/css/fork-awesome.min';

.blog-background {
	background: url('../../img/headers/background-transparent.png') no-repeat;
	background-color: #0082c9;
	background-position: center;
	background-size: cover;
	@media (min-width: $break-big) {
		height: 100vh;
		min-height: 800px;
	}
	height: 50vh;
}

body {
	background-color: #0082c9;
}

section {
	.container {
		.row {
			.col-md-10 {
				@media (min-width: $break-big) {
					padding-left: 50px;
					padding-right: 50px;
				}
				background-color: rgba(244,248,251,0.95);
			}
		}
	}
}

.section--blog-header {
}

.section--content {
	.container {
		.row {
			.col-md-10 {
				@media (min-width: $break-big) {
					margin-top: -50vh;
					padding-top: 0;
				}
				margin-top: -5px;
				padding-bottom: 30px;

				h1 {
					margin-top: 5px;
					font-size: 50px;
					font-weight: 300;
				}
				h2 {
					font-size: 20px;
				}
				img {
					max-width: 100% !important;
					height: auto !important;
				}
				@media (max-width: $break-small) {
					img {
						max-width: 90vw !important;
					}
				}

				.blog-metadata {
					padding-bottom: 30px;
					img {
						width: 20px !important;
					}
				}

				blockquote {
					p {
						display: inline;
					}
				}

				blockquote:before {
				}

				blockquote:after {
				}
				.thumbnail {
					margin: 0;
					border: none;
					width: calc(100% + 30px) !important; /* account for double page margin */
					padding: 0;
					padding-bottom: 1em;
				}

				.thumbnail img {
					margin: 0 -15px; /* cancel out page margin */
				}
			}
		}
	}
}

.section--footer {
	.container {
		.row {
			.col-md-10 {
				padding-top: 20px;
				padding-bottom: 100px;
			}
		}
	}
}

