@import '../variables';
@import '../modules/transparent-navbar';
@import '../vendor/modular-scale/modular-scale';
@import '../modules/transparent-gradient';

.buy-background {
  background-image: url("../../img/headers/enterprise.jpg");
  background-position: center 0 right 0;
  min-height: 400px;
  .menu {
      margin-top: -100px;
  }
}

.section--welcome {
    padding-top: 150px;
}

.section--contact-form {
    padding-top: 0px;
    p {
            margin-bottom: 16px;
        }
}
