@import '../variables';
@import '../modules/transparent-navbar';
@import '../vendor/modular-scale/modular-scale';
@import '../modules/transparent-gradient';

.buy-background {
  background-image: url("../../img/headers/enterprise.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    padding-bottom: 0px;
  .menu {
      margin-top: -100px;
  }
}

.section--links {
    padding-top: 0;
    padding-bottom: 0;
    .button {
        margin: 7px 7px;
        min-width: 100px;
    }
    @media (min-width: $navbar-breaksize) {
        display: none;
    }
}

.section--welcome {
    padding-top: 150px;
}

.section--contact-form {
    padding-top: 0px;
    p {
            margin-bottom: 16px;
        }
}
