@import '../variables';
@import '../modules/transparent-navbar';

.separator{
	margin: 100px 0 50px 0;
	height: 40px;
	background: #f6f6f6;
}

.channels-background {
  background: url("../../img/headers/channels.jpg") no-repeat;
  background-position: right center;
  background-size: cover;
  margin-bottom: 50px
}

section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.section--intro {
	padding-top: 0px;
	margin-top: 0px;
}

.image--floated{
	float: right;
}

footer {
    margin-top: 0px;
}

.quote {
	margin: 0 0 0 0;
	padding: 70px;
	padding-top: 90px;
	background: $nextcloud-blue;
	color: white;
	h2 {
		color: white;
	}
	.row {
		margin-bottom: 0px;
	}
	p {
		color: white;
	}
	.hyperlink {
		color: white;
	}
}
