@import '../variables';
@import '../modules/transparent-navbar';

.clients-background {
  background: url("../../img/headers/clients.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

section {
	padding: 50px 0;

	.section--paragraph__tittle {
		padding: 0;
	}
	.row {
		padding-top: 80px;
	}
	h2 {
		padding-bottom: 40px;
	}
	li {
		list-style-type: disc;
	/* 		list-style-image: url("../../img/enterprise/check.svg"); */
		list-style-position:inside;
	}
}


