@import '../variables';
@import '../modules/transparent-navbar';

.collabora-background {
	background-image: url('../../img/headers/collabora.jpg');
	background-size: cover;
}

.collaboravideo {
	float:none;
	margin-left: auto;
	margin-right: auto;
}

.section--heading-1 {
	margin-bottom: 35px;
}

.featurerow {
	margin-top: 100px;
	padding-bottom: 50px;

	.floated {
		float: right;
		padding-bottom: 50px;
	}

	p {
		margin-top: 15px;
	}

	h1 {
		margin-bottom: 50px;
		text-align: center;
	}
}

section {
	margin-top: 70px;
}

.featureblock {
	.section--heading-1 {
		margin-top: 5px;
		color: #2a2a36;
		margin-bottom: 5px;
	}

	.wrapper--buttons {
		.button {
			margin: 20px 10px 20px 20px;
		}
	}
}

.collabora-integration {
	h1, h2, h3, h4 {
		margin-top: 70px;
		margin-bottom: 20px;
	}
	hr {
		margin-top: 70px;
	}
}


.call-to-action {
	margin: 80px 0 0px 0;
	padding: 50px 0px;
	background: $nextcloud-blue;
	color: white;
	h1 {
		color: white;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	a {
		color: white;
	}
}
