/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* New widest container for headers */
.container-widest {
  max-width: 1800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-widest .container-widest {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container-widest .container-widest {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .container-widest .container-widest {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .container-widest .container-widest {
    width: 1470px;
  }
}
@media (min-width: 1800px) {
  .container-widest .container-widest {
    width: 1770px;
  }
}

/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute;
}

.compare-individual-background {
  background-image: url("../../img/headers/vdr.jpg");
  background-position: bottom 0 right 0;
}

section {
  margin-top: 70px;
  margin-bottom: 70px;
}
section ul {
  padding-left: 30px;
}
section li {
  /* 			list-style-type: circle; */
  list-style-image: url("../../img/enterprise/check-blue.svg");
  /* 		list-style-position:inside; */
}
section .row {
  margin-top: 60px;
}

.section--intro blockquote {
  font-size: 20px;
  font-weight: 400;
}

.section--capabilities .logo {
  max-width: 100px;
}
.section--capabilities .fa-times {
  color: red !important;
}
.section--capabilities .fa-check {
  color: #16e300 !important;
}

.section--customers {
  /* 	max-width: 100%; */
  position: relative;
  padding-top: 0;
  margin-top: 0;
}
.section--customers .container-fluid {
  height: 160px;
  overflow: hidden;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: ms(1);
  width: 100%;
  /* 		max-width: 1600px; */
  overflow-x: hidden;
}
.section--customers .container-fluid .row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.section--customers .container-fluid .row .customer {
  position: relative;
  height: 150px;
  position: relative;
}
.section--customers .container-fluid .row .customer .customer-logo {
  display: inline-block;
  -webkit-filter: saturate(0%) contrast(0.4) brightness(100%);
  filter: saturate(0%) contrast(0.4) brightness(100%);
  /* 			line-height: 400px; */
  text-align: center;
  vertical-align: middle;
  /*			svg {
  				vertical-align: middle;
  				float:none;
  				width: auto;
  				height: 400px;
  				padding-bottom: 100px;
  			}*/
}
.section--customers .container-fluid .row .customer .customer-logo img {
  padding: 5px;
  display: inline;
  height: 150px;
  max-width: 90%;
  vertical-align: middle;
}
.section--customers .container-fluid .row .customer .customer-logo .scaling-svg-container {
  /* 				position: relative; */
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */
}
.section--customers .container-fluid .row .customer .customer-logo svg {
  position: absolute;
  height: 100%;
  width: 100%;
  /* 		max-width: 50vw; */
  left: 0;
  top: 0;
}

.section--integrated .container .section--intro {
  max-width: ms(9);
  margin: 0 auto;
}
.section--integrated .container .section--heading-1 {
  padding-bottom: 0px;
}
.section--integrated .container .efficiency--ilustration {
  background: url(../../img/globalscale/splitup.svg) no-repeat center/contain;
  height: 600px;
  max-width: 100%;
  max-height: 60vw;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section--features {
  /*	background-color: #eee;*/
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 0 0 0;
}
.section--features .container-widest .row {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.section--features .container-widest .row .section--intro {
  max-width: ms(9);
  margin: 0 auto;
}
.section--features .section--heading-1 {
  padding-bottom: 60px;
}
.section--features i[class*=fa-] {
  font-size: 60px;
  display: block;
  color: #0082c9;
  text-align: center;
  padding-top: 20%;
}
.section--features row {
  padding: 0px;
}

footer {
  margin-top: 0px;
}

/*# sourceMappingURL=compare-individual.css.map */
