@import '../variables';
@import '../modules/transparent-navbar';
@import '../../fonts/fork-awesome/css/fork-awesome.min';

.conf-background {
  background: url("../../img/headers/team.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

section {
    padding: 50px 0 50px;
    .section--heading-1 {
        padding-bottom: 50px;
    }
    .section--paragraph--tittle {
        padding: 0;
    }
    .row {
        padding: 20px 0 20px 0;
    }
}

.section--intro {
	text-align: center;

	.section--paragraph__tittle {
	padding: 5px 0 0 0;
	}

	.section--paragraph {
		padding: 5px 0 15px 0;
	}

	img {
	width: 50%;
/* 	max-width: 30vw; */
/* 	max-height: 30vh; */
	}

}

.section--program {
    .overflow {
        overflow-y: auto;
        .fixbox {
            width: 1120px
        }
        th,td  {
            border-top: none;
            padding: 12px;
            text-align: center;
        }
        .left {
            text-align: left;
        }
    }
}

.section--speakers-keynote {
    background: url('../../img/conference/keynotespeakers.jpg');
    height:500px;
    background-size:cover;
    background-position: center;
    h1 {
        text-shadow: 0px 0px 7px #000;
        color: white;
        margin-top:300px;
    }
}

.section--info {
	padding: 70px 0 90px 0;
	background: $nextcloud-blue;
	p {
		color: white;
	}
	h1 {
		color: white;
        margin: 0px 0 30px 0;
        font-size: 50px;
	}
	.hyperlink {
		color: white;
	}
	.icon {
	text-align: center;
	}
	i {
		color: white;
		font-size: 80px;
	}
	li {
		color: white;
        margin: 2px 0 2px 0;
	}
	.row {
		padding: 60px 0 30px 0;
	}
}

.section--speakers-community {
    background: url('../../img/conference/communityspeakers.jpg');
    height:500px;
    background-size:cover;
    background-position: center;
    h1 {
        text-shadow: 0px 0px 7px #000;
        color: white;
        margin-top:300px;
    }
}

/*.section--call-for-papers {
	margin: 50px 0 50px 0;
	padding: 50px 0px;
	background: $nextcloud-blue;
	p {
		color: white;
	}
	.hyperlink {
		color: white;
	}
}*/

.section--details {
    padding: 120px 0 60px 0;
	.row {
        padding: 40px 0 20px 0;
	}
	img {
		margin-top: 45px;
	}
}


.section--enterprise {
/*     margin: 100px 0 100px 0; */
    padding: 80px 0 50px 0;
    background-image: url('../../img/conference/enterprise-wide-2.jpg');
    background-size: cover;
    background-position: center;
    /*   @media (max-width: $break-small) { */
    /*     background-image: url('../../img/home/perfect-for-home-and-business-mobile.jpg'); */
    /*   } */

    .btn-primary {
        width: 430px;
    }

    @media (min-width: $very-wide) {
        padding-top: 120px;
        padding-bottom: 180px;
    }

    @media (max-width: $break-small) {
        .btn-primary {
            width: 300px;

            .icon-arrow {
                background: url(../../img/arrow_right.svg) center/contain no-repeat;
                position: absolute;
                width: 20px;
                height: 100%;
                right: 20px;
                top: 2px;
            }
        }
    }

    .section--heading-1 {
        color: white;
        width: 469px;
        @media (max-width: $break-small) {
            width: 100%;
        }
    }

    .section--paragraph {
        color: white;
        width: 469px;
        @media (max-width: $break-small) {
            width: 90%;
            padding-top: 10px;
        }
    }
}

.section--about {
	.row {
		padding: 50px 0 100px 0;
	}
	.blog-social-icons img {
        margin: 0 5% 0 5%;
        width: 20%;
    }
    .blog-social-icons a:hover {
        text-decoration: none;
    }

}
