@import '../variables';
@import '../modules/transparent-navbar';

.design-background {
  background: url('../../img/headers/design.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.col-md-8 p {
  text-align: center;
}

.section--desktop {
	padding-top: 80px;
}

section {
	padding: 100px 0;

	.section--paragraph__title {
		padding: 0;
	}
}

ul {
    list-style-type: initial;
}

.feature--block {
    padding-top: 60px;
}

.row {
    padding-top: 60px;
}

.featuretitle {
    text-align: center;
}

footer {
    margin-top: 50px;
}
