/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* New widest container for headers */
.container-widest {
  max-width: 1800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-widest .container-widest {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container-widest .container-widest {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .container-widest .container-widest {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .container-widest .container-widest {
    width: 1470px;
  }
}
@media (min-width: 1800px) {
  .container-widest .container-widest {
    width: 1770px;
  }
}

/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute;
}

/* This is a navigator with navigation left and content right. Inspired by Digital Ocean website. */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav:before, .nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}

.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified, .nav-tabs.nav-justified {
  width: 100%;
}
.nav-justified > li, .nav-tabs.nav-justified > li {
  float: none;
}
.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li, .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified, .nav-tabs.nav-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.nav.nav-pills.brand-pills.nav-stacked {
  position: relative !important;
  padding: 5px 0 30px 0;
  opacity: 1;
  /* compensate for nav being set to opacity 0 by our top nav bar code */
}
.nav.nav-pills.brand-pills.nav-stacked li {
  margin: 0;
  border-left: 1px solid lightgray;
}
.nav.nav-pills.brand-pills.nav-stacked li:hover, .nav.nav-pills.brand-pills.nav-stacked li.active {
  border-left: 1px solid blue;
  font-weight: 700;
}
.nav.nav-pills.brand-pills.nav-stacked li a {
  color: #2a2a36;
  background-color: transparent;
  padding-left: 20px;
  border-radius: 0;
  margin: 0;
}
.nav.nav-pills.brand-pills.nav-stacked li .tab-content {
  margin-top: 15px;
  padding-top: 5px;
}

.security-background {
  background-image: url("../../img/headers/collaboration6.jpg");
  background-position: bottom 0 right 0;
}
.security-background .topheader h1 {
  margin-top: 0;
}

/* All headers */
section {
  padding-top: 70px;
  padding-bottom: 70px;
  /*.section--paragraph {
      padding-bottom: 5px;
      padding-top: 10px;
  }*/
}
section ul {
  padding-left: 30px;
}
section li {
  /* 			list-style-type: circle; */
  list-style-image: url("../../img/enterprise/check.svg");
  /* 		list-style-position:inside; */
}
section h2 {
  padding-bottom: 50px;
}

.section--intro blockquote {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7;
  padding: 50px 30px;
  color: #6c6c6c;
}
.section--intro blockquote small {
  display: inline;
}
.section--intro blockquote small::before {
  content: "";
}

.section--differentiators-orig .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section--differentiators-orig .container-fluid h2 {
  padding-bottom: 20px;
}
.section--differentiators-orig .container-fluid h3 {
  margin-top: 10px;
}
.section--differentiators-orig .container-fluid .row {
  margin-top: 30px;
}

.section--differentiators {
  padding-bottom: 0;
}
.section--differentiators .featuretabs {
  padding-top: 70px;
}
.section--differentiators .featuretabs .tab-content {
  min-height: 200px;
}
.section--differentiators .featuretabs .tab-content .feature {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .section--differentiators .featuretabs .tab-content .feature .icon svg {
    display: inline;
    float: left;
    margin-right: 15px;
  }
}
@media (max-width: 1320px) {
  .section--differentiators .featuretabs .tab-content {
    min-height: 200px;
  }
}
@media (max-width: 768px) {
  .section--differentiators .featuretabs .tab-content {
    min-height: 200px;
  }
}
.section--differentiators .featuretabs .nav-pills.brand-pills.nav-stacked {
  padding-bottom: 60px;
}
@media (max-width: 991px) {
  .section--differentiators .featuretabs .nav-pills.brand-pills.nav-stacked {
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .section--differentiators .featuretabs .nav-pills.brand-pills.nav-stacked {
    padding-bottom: 0px;
  }
  .section--differentiators .featuretabs .nav-pills.brand-pills.nav-stacked .icon svg {
    display: inline;
    float: left;
    margin-right: 15px;
  }
}

.section--benefits .row {
  margin-top: 30px;
}

/*# sourceMappingURL=efss.css.map */
