@import '../variables';
@import '../modules/transparent-navbar';
@import '../vendor/modular-scale/modular-scale';
@import '../modules/transparent-gradient';

.separator{
  height: 40px;
  background: #f6f6f6;
}

.enterprise-hero-section {
   .background {
    background-color: $nextcloud-blue;
    background-image: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: cover;
    border-radius: 0 !important;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    background-image: url('../../img/enterprise/hero__enterprise.jpg');
  }

  .topbanner {
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0px;
    float: right;
    overflow: hidden;
    zoom: 0.55;
  }
}

.what-you-get-section {

  .container {
    padding-top: ms(5);
    padding-bottom: ms(5);

    p {
      max-width: ms(9);
      margin: 0 auto;
    }
  }
}

.section--expertise {

  .container {
    padding-top: ms(5);
    padding-bottom: ms(5);

    .section--intro {
      max-width: ms(9);
      margin: 0 auto;
    }

    .ilustration__expertise {
      margin-left: 15%;
    }
  }
}

.section--security {
  .container{
    padding-top: ms(5);
    padding-bottom: ms(5);

    .section--intro {
      max-width: ms(9);
      margin: 0 auto;
    }

    .security__ilustration {
      margin-left: 12%;
    }
  }
}

.section--lifecycle {

  .container{
    padding-top: ms(5);
    padding-bottom: ms(5);

    .section--intro {
      max-width: ms(9);
      margin: 0 auto;
    }

    .lifecycle__ilustration {
      margin-left: 8%;
    }
  }
}

.section--globalscale {
  .container{
    padding-top: ms(5);
    padding-bottom: ms(5);

    .section--intro {
      max-width: ms(9);
      margin: 0 auto;
    }

    .globalscale__ilustration {
    }
  }
}

.section--whitepaper {
	.container {
    padding-top: ms(5);
	}
    .section--heading-1 {
        margin-bottom: 70px;
    }
    form {
        padding-top: 20px;
    }
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section--compare {
    padding-bottom: 100px;
}

.ilustration {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}
