@import '../variables';
@import '../modules/transparent-navbar';
@import '../vendor/modular-scale/modular-scale';
@import '../modules/transparent-gradient';

.separator{
  height: 40px;
  background: #f6f6f6;
}

.enterprise-hero-section {
   .background {
    background-color: $nextcloud-blue;
    background-image: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: cover;
    border-radius: 0 !important;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    background-image: url('../../img/headers/enterprise.jpg');
  }

  .topbanner {
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0px;
    float: right;
    overflow: hidden;
    zoom: 0.55;
  }
}


section {
  padding-top: 80px;
  padding-bottom: 80px;
  .container {

    .section--intro {
      max-width: ms(9);
      margin: 15px auto;
    }
  }
}

.section--offer {
	.container {
		.section--intro {
			max-width: ms(8);
			margin: 15px auto;
		}
	}
}

.section--benefits {
	padding-top: 0;
	h2 {
		margin-top: 100px;
	}
	.ilustration {
		max-width: 900px;
		margin: 0 auto;
		padding: 60px 0;
		svg {
			display: block !important;
			margin-left: auto !important;
			margin-right: auto !important;
			max-width: 100%;
			max-height: 300px;
		}
	}
}

.section--scalability,.section--reliability,.section--compliance,.section--security {
	.content {
		p {
			font-size: 22px;
			font-weight: 300;
		}
	}
	.ilustration {
		max-width: 900px;
		margin: 0 auto;
		padding: 60px 0;
		svg {
			display: block !important;
			margin-left: auto !important;
			margin-right: auto !important;
			max-width: 100%;
			max-height: 500px;
		}
	}
}

.section--contact {
	p {
		font-size: 22px;
		font-weight: 300;
	}
}

.section--whitepaper {

    .section--heading-1 {
        margin-bottom: 70px;
    }
    form {
        padding-top: 20px;
    }
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section--compare {
    padding-bottom: 100px;
}

.section--customers {
	position: relative;
    .container {
	padding-top: ms(5);
	p {
		margin-top: 30px;
	}

	}
	.customer {
		position: relative;
		.customer-logo {
			float: center;
			height: 400px;
			position: relative;
			line-height: 400px;
			text-align:center;
			width: 100%;
			max-width: 60vw;
			margin-left: auto;
			margin-right: auto;
			vertical-align: middle;
			img {
				max-width: 90%;
				vertical-align: middle;
			}
			.scaling-svg-container {
/* 				position: relative; */
				height: 0;
				width: 100%;
				padding: 0;
				padding-bottom: 100%;
				/* override this inline for aspect ratio other than square */
				}
			svg {
				position: absolute;
				height: 100%;
				width: 100%;
		/* 		max-width: 50vw; */
				left: 0;
				top: 0;
				}
			@media (max-width: $break-big) {
				height: 300px;
				line-height: 300px;
			}
			@media (max-width: $break-small) {
				height: 200px;
				line-height: 200px;
			}

/*			svg {
				vertical-align: middle;
				float:none;
				width: auto;
				height: 400px;
				padding-bottom: 100px;
			}*/
		}
	}
}
