/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* New widest container for headers */
.container-widest {
  max-width: 1800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-widest .container-widest {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container-widest .container-widest {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .container-widest .container-widest {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .container-widest .container-widest {
    width: 1470px;
  }
}
@media (min-width: 1800px) {
  .container-widest .container-widest {
    width: 1770px;
  }
}

/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute;
}

/* gradient behind transparent nav */
.nav:not(.scrolled) {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
  /* IE6-9 */
}

.separator {
  height: 40px;
  background: #f6f6f6;
}

.enterprise-hero-section .background {
  background-color: #0082c9;
  background-image: none;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: cover;
  border-radius: 0 !important;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;
  background-image: url("../../img/headers/enterprise.jpg");
}
.enterprise-hero-section .topbanner {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0px;
  float: right;
  overflow: hidden;
  zoom: 0.55;
}

section .container {
  padding-top: 8.54296875em;
  padding-bottom: 8.54296875em;
}
section .container .section--intro {
  max-width: 43.2487792969em;
  margin: 15px auto;
}
section .container .ilustration {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}
section .container .ilustration svg {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 100%;
}

.section--offer .container .section--intro {
  max-width: 28.8325195313em;
  margin: 15px auto;
}

.section--whitepaper {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.section--whitepaper .section--heading-1 {
  margin-bottom: 70px;
}
.section--whitepaper form {
  padding-top: 20px;
}

.quote .container {
  padding-top: 50px !important;
  margin-top: 180px !important;
}

.section--compare {
  padding-bottom: 100px;
}

.section--customers {
  position: relative;
}
.section--customers .container {
  padding-top: 8.54296875em;
}
.section--customers .container p {
  margin-top: 30px;
}
.section--customers .customer {
  position: relative;
}
.section--customers .customer .customer-logo {
  float: center;
  height: 400px;
  position: relative;
  line-height: 400px;
  text-align: center;
  width: 100%;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  /*			svg {
  				vertical-align: middle;
  				float:none;
  				width: auto;
  				height: 400px;
  				padding-bottom: 100px;
  			}*/
}
.section--customers .customer .customer-logo img {
  max-width: 90%;
  vertical-align: middle;
}
.section--customers .customer .customer-logo .scaling-svg-container {
  /* 				position: relative; */
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */
}
.section--customers .customer .customer-logo svg {
  position: absolute;
  height: 100%;
  width: 100%;
  /* 		max-width: 50vw; */
  left: 0;
  top: 0;
}
@media (max-width: 991px) {
  .section--customers .customer .customer-logo {
    height: 300px;
    line-height: 300px;
  }
}
@media (max-width: 768px) {
  .section--customers .customer .customer-logo {
    height: 200px;
    line-height: 200px;
  }
}

/*# sourceMappingURL=enterprise.css.map */
