@import '../variables';
@import '../modules/transparent-navbar';

.events-background {
  background-image: url("../../img/headers/events.jpg");
  background-size: cover;
  margin-bottom: 50px;
}

.quote {
	margin: 80px 0 50px 0;
	padding: 50px 0px;
	background: $nextcloud-blue;

  p {
		color: white;
	}
}

footer {
	margin-top: 70px;
}
