@import '../variables';
@import '../modules/transparent-navbar';
@import '../vendor/modular-scale/modular-scale';
//@import '../modules/transparent-gradient';


.generic-background {
    background: url('../../img/headers/background-transparent.png') no-repeat;
    background-color: #0082c9;
    background-position: center;
    background-size: cover;
    height: 40vh;
    min-height: 200px;
    max-height: 300px;
    padding-bottom: 0px;
    .menu {
        margin-top: 0px;
    }
    .topheader {
        margin-top: 40px;
        h1 {
            margin-bottom: 60px;
        }
    }
}

.section--links {
    padding-top: 0;
    padding-bottom: 0;
    .button {
        margin: 7px 7px;
        min-width: 100px;
    }
    @media (min-width: $navbar-breaksize) {
        display: none;
    }
}

/* FAQ section  */
.section--faq {
  background: $nextcloud-blue;
  padding-bottom: 50px;

  .container {
    background: white;
    margin-bottom: 90px;
    padding-left: 0px;
    padding-right: 0px;

    .row {
      padding: 30px;
      margin: 40px;
      margin-right: 60px;
      @media (max-width: $break-small) {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-right: 30px;
      }
    }
  }
  	h2 {
		font-size: 30px;
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.45;
		text-align: left;
		color: #555555;
		margin-top: 30px;
	}
	h3 {
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.45;
		text-align: left;
		color: #555555;
	}
	h1 {
		font-size: 60px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.88;
		color: #ffffff;
		margin-top: 100px;
		margin-bottom: 80px;
		text-align: center;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.61;
		text-align: left;
		color: #555555;
	}
	.downarrow a {
		color: #555555;
		&:hover {
			text-decoration: none;
		}
		&:active {
			text-decoration: none;
		}
	}
	.line {
		width: 100%;
		height: 1px;
		border: solid 1px #eeeeee;
	}
	.downarrow {
		position: relative;
	}

	ul {
		li {
/* 			list-style-type: circle; */
			list-style-image: url("../../img/enterprise/check.svg");
/* 		list-style-position:inside; */
		}
	}

	.downarrow span.icon-arrow-down {
		background: url('../../img/common/simple_arrow_down_grey.svg') center/contain no-repeat;
		position: absolute;
		width: 25px;
		height: 100%;
		right: -30px;
		top: 0px;
	}
}
