@import '../variables';
@import '../modules/transparent-navbar';



.gdpr-background {
	background: url('../../img/headers/gdpr.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

/* General */

section {
    padding: 50px 0 50px;
    .section--heading-1 {
        padding-bottom: 50px;
    }
    .section--paragraph--tittle {
        padding: 0;
    }
    .row {
        margin-top: 40px;
		margin-bottom: 40px;
		.feature--block {
		}
    }
	.feature-row {
		margin-top: 80px;
		margin-bottom: 80px;
		.img-responsive {
			padding-top: 10px;
			@media (min-width: $break-big) {
				margin-bottom: 50px;
			}
			@media (min-width: $very-wide) {
				/* 	margin-bottom: 0px; */
			}
		}

	}
}


.separator{
	margin: 100px 0 50px 0;
	height: 40px;
	background: #f6f6f6;
}


/* Sections */

.section--intro {
    p {
        margin-top: 15px;
    }
}

.section--overview {
}

.section--gdpr-apps {
	.check {
		list-style-image: url("../../img/enterprise/check.svg");
	}
}

.section--explanation {
	i[class*='fa-'] {
	font-size: 60px;
	display: block;
	color: #ffffff;
	text-align: center;
	padding-top: 20%;
	}
	.row {
		padding: 5px 0 5px 0;
	}
	p.section--paragraph {
		padding: 0;
	}
	p {
		padding: 0;
	}
	.banner {
        background-color: $nextcloud-blue;
        position: relative;
        overflow: hidden;

        h2 {
            text-align: left;
            color: white;
        }

        p {
            text-align: left;
            color: white;
        }

        li {
            color: white;
        }

        .hyperlink {
            color: white;
        }

        .fa {
            color: white;
            padding-right: 10px;
        }

        .col-md-6 {
            padding: 80px 0px;
        }

        .big-img {
            position: absolute;
            height: 100%;
            margin-left: 30px;
        }
        .small-img {
            position:absolute;
            height: 100%;
            margin-left: 30px;
        }
        @media (max-width: $very-wide) {
            .big-img {
                display: none;
            }
        }
        @media (min-width: $very-wide) {
            .small-img {
                display: none;
            }
        }
    }
}

.section--secure {
  .container {
    padding-top: ms(5);
    padding-bottom: ms(5);


    .distribution--ilustration {
      background: url(../../img/globalscale/balancer.svg) no-repeat center/contain;
      height: 600px;
      max-width: 100%;
      max-height: 60vw;
      margin: 0 auto;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    ul {
		padding-left: 30px;
	}
	li {
			list-style-image: url("../../img/enterprise/check.svg");
	}
  }

  .ncc--container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 40px 40px 30px 40px ;
      background: #FFFFFF;
      border: 1px solid #FCFCFC;
      -webkit-box-shadow: 0 1px 40px 0 rgba(0,0,0,0.14);
      box-shadow: 0 1px 40px 0 rgba(0,0,0,0.14);

      blockquote {
          font-style: italic;
          font-size: 1.1em;
          margin: 0;
      }

      .ncc--brand {
          padding-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          .ncc--brand--logo {
              background: url("../../img/security/ncc_logo.png") no-repeat center/contain;
              width: 46px;
              height: 46px;
          }

          .ncc--brand--text {
              margin: 0;
              padding: 0 0 0 10px;
              font-weight: 600;
              text-transform: uppercase;
              font-size: 15px;
              color: $medium-grey;
          }
      }
  }
}

footer {
    margin-top: 0px;
}
