@import '../variables';
@import '../modules/transparent-navbar';
@import '../vendor/modular-scale/modular-scale';


.generic-background {
    background: url('../../img/headers/background-transparent.png') no-repeat;
    background-color: #0082c9;
    background-position: center;
    background-size: cover;
    height: 40vh;
    min-height: 500px;
    max-height: 800px;
    .topheader {
        margin-top: 70px;
    }
}
