@import '../variables';
@import '../modules/transparent-navbar';
@import '../vendor/modular-scale/modular-scale';


.generic-background {
    background: url('../../img/headers/background-transparent.png') no-repeat;
    background-color: #0082c9;
    background-position: center;
    background-size: cover;
    height: 30vh;
    min-height: 300px;
    max-height: 400px;
    .topheader {
        margin-top: 70px;
    }
}

/* General */


section {
    padding: 50px 0 50px;
    .section--heading-1 {
        padding-bottom: 50px;
    }
    .section--paragraph--tittle {
        padding: 0;
    }
	.feature-row {
		padding: 60px 0 60px 0;
	}
}

.img-responsive {
    padding-top: 10px;
    @media (min-width: $break-big) {
        margin-bottom: 50px;
    }
    @media (min-width: $very-wide) {
        /* 	margin-bottom: 0px; */
    }
}


.separator{
	margin: 100px 0 50px 0;
	height: 40px;
	background: #f6f6f6;
}

.video {
	margin-bottom: 30px;
}

footer {
    margin-top: 100px;
}
