@import '../variables';
@import '../modules/transparent-navbar';
/* @import '../modules/vertical'; */
.groupware-background {
  background: url("../../img/headers/groupware.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px
}

section {
	margin-top: 150px;
/* 	padding: 50px 0; */

	.section--paragraph__title {
		padding: 0;
	}
}


.section--overview {
    margin-top: 100px;
    .icon {
        width: 100px;
        height: auto;
        margin: 50px auto 30px auto;

        img {
            width: 100%;
            height: auto;
        }
    }
    .section--paragraph__title {
/*         padding-bottom: 10px; */
    }
    .row {
        margin-bottom: 15px;
    }
}

.section--keyfeatures {
    .container {
        .row {
            margin-bottom: 100px;
        }
    }
}

.section--advantages {
    .container-fluid {
        .row {
            max-width: 1500px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }
        li {
            list-style: none;
            color: white;
        }
    }
    .row {
        margin-bottom: 50px;
    }
    h2 {
        padding-bottom: 50px;
    }
    li {
        list-style-type: none;
        color: white;
    }
}


.section--contact {
    margin: 100px 0 0 0;
    padding: 90px 0 70px 0;
    background: $nextcloud-blue;

    p {
        color: white;
    }
    li {
        color: white;
    }
    .hyperlink {
        color: white;
    }
}

.section--outlook {
    .featurerow {
        margin-top: 100px;
        padding-bottom: 50px;


        h2 {
            margin-bottom: 50px;
        }
    }
}


footer {
    margin-top: 0px;
}
