/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* New widest container for headers */
.container-widest {
  max-width: 1800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container-widest .container-widest {
      width: 738px; } }
  @media (min-width: 992px) {
    .container-widest .container-widest {
      width: 962px; } }
  @media (min-width: 1200px) {
    .container-widest .container-widest {
      width: 1170px; } }
  @media (min-width: 1500px) {
    .container-widest .container-widest {
      width: 1470px; } }
  @media (min-width: 1800px) {
    .container-widest .container-widest {
      width: 1770px; } }

/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

.ccp-background {
  background-image: url("../../img/headers/collaboration.jpg");
  background-position: center center; }

.background h2 .button {
  text-shadow: none; }

.section--intro p {
  margin-top: 20px; }
.section--intro .video .video-js {
  background-color: transparent !important; }

.section--products {
  margin: 0 0 0 0;
  padding: 90px 0 70px 0;
  /*     background-color: #eee; */ }
  .section--products .row {
    margin-bottom: 10px; }
  .section--products img {
    padding: 20px; }
  .section--products .description {
    min-height: 100px;
    margin: 0 20px; }
    .section--products .description .title {
      display: block;
      padding: 5px 10px 0 0;
      font-size: 18px;
      /*             color: white; */ }
      .section--products .description .title .logo {
        width: 65px;
        min-height: 25px;
        float: left;
        vertical-align: middle; }
        .section--products .description .title .logo img {
          margin-top: 0px;
          padding: 4px 5px 0 0;
          height: 60px;
          width: 60px; }
      .section--products .description .title .text {
        line-height: 1;
        padding: 10px 0 10px 0; }
        .section--products .description .title .text strong {
          line-height: 1.2;
          font-weight: normal;
          font-size: 22px; }
        .section--products .description .title .text small {
          opacity: 0.8; }

.section--more .container-widest .row {
  margin-left: 5px;
  margin-right: 5px; }
.section--more .section--heading-1 {
  padding-bottom: 60px; }
.section--more i[class*='fa-'] {
  font-size: 60px;
  display: block;
  color: #0082c9;
  text-align: center;
  padding-top: 20%; }
.section--more .icon {
  text-align: center;
  padding-top: 20%;
  display: block; }
  .section--more .icon svg {
    display: inline;
    /*             float: left; */
    /*             margin-right: 15px; */
    width: 60px;
    height: 60px; }

.section--about {
  position: relative;
  height: 500px;
  /*     position: relative; */ }
  .section--about .icon-background {
    /*         background-image: url("../../img/headers/collaboration.jpg"); */
    background-color: #0082c9;
    background-image: url("../../img/headers/pattern.svg");
    background-image: url("../../img/logo/background.svg"), linear-gradient(40deg, #0082c9 0%, #1cafff 100%);
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: 275px, contain;
    background-attachment: fixed;
    /* fix background gradient */
    min-height: 100%;
    /* fix sticky footer */
    height: auto; }
    @media (max-width: 768px) {
      .section--about .icon-background {
        /*             display: none; */ } }
  .section--about .image {
    position: absolute;
    left: 30vw;
    height: 400px; }
    .section--about .image .img-responsive {
      vertical-align: middle;
      margin: 0;
      height: 400px;
      padding: 50px 0; }
  .section--about .text {
    position: absolute;
    right: 0;
    background: white;
    height: 400px;
    width: 50vw;
    padding: 30px; }
    .section--about .text h3 {
      font-size: 26px;
      width: 500px; }
    .section--about .text p {
      padding-top: 0px;
      width: 500px; }

.section--overview .featuretabs {
  padding-top: 70px; }
  .section--overview .featuretabs .tab-content {
    min-height: 300px; }
    .section--overview .featuretabs .tab-content .feature {
      margin-top: 30px; }
      @media (max-width: 991px) {
        .section--overview .featuretabs .tab-content .feature .icon svg {
          display: inline;
          float: left;
          margin-right: 15px; } }
  .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked {
    padding-bottom: 60px; }
    @media (max-width: 991px) {
      .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked {
        padding-bottom: 100px; } }
    @media (max-width: 768px) {
      .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked {
        padding-bottom: 0px; }
        .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked .icon svg {
          display: inline;
          float: left;
          margin-right: 15px; } }
    .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked li a {
      color: #6c6c6c; }
    .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked li .icon svg {
      height: 26px;
      width: 26px;
      display: inline;
      float: left;
      margin-right: 15px; }
    .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked li.active > a, .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked li.active > a:hover, .section--overview .featuretabs .nav-pills.brand-pills.nav-stacked li.active > a:focus {
      color: #6c6c6c;
      background-color: #FFF;
      border: none;
      border-bottom: 1px solid gray;
      border-radius: 0; }

.section--mainbenefits {
  position: relative;
  /*     position: relative; */ }
  .section--mainbenefits .banner-image--ccp {
    /*         background-image: url("../../img/headers/collaboration.jpg"); */
    background-color: #0082c9;
    background-image: url("../../img/headers/pattern.svg");
    background-image: url("../../img/headers/pattern.svg"), linear-gradient(40deg, #0082c9 0%, #1cafff 100%);
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: 275px, contain;
    background-attachment: fixed;
    /* fix background gradient */
    min-height: 100%;
    /* fix sticky footer */
    height: auto; }
  .section--mainbenefits .banner-image--issue {
    background-image: url("../../img/headers/collaboration3.jpg"); }
  .section--mainbenefits .banner-image--solution {
    background-image: url("../../img/headers/collaboration6.jpg"); }
  .section--mainbenefits .banner-image, .section--mainbenefits .banner-image-inverted {
    background-size: cover;
    background-position: center center; }
    @media (max-width: 768px) {
      .section--mainbenefits .banner-image, .section--mainbenefits .banner-image-inverted {
        display: none; } }
  .section--mainbenefits .col-md-6 {
    background: white;
    padding: 30px; }
    .section--mainbenefits .col-md-6 h3 {
      font-size: 26px; }
    .section--mainbenefits .col-md-6 p {
      padding-top: 0px; }

.section--benefits {
  padding-bottom: 0px; }
  .section--benefits .row {
    margin-top: 50px; }

.section--features h1 {
  margin-bottom: 80px; }
.section--features h3 {
  margin-top: 0; }
.section--features ul li.check {
  list-style-image: url("../../img/enterprise/check.svg");
  list-style-position: inside;
  color: #555555; }

footer {
  margin-top: 0px; }

/*# sourceMappingURL=hub.css.map */
