@import '../variables';
@import '../modules/transparent-navbar';

.monitoring-background {
  background: url('../../img/headers/monitoring.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.image--floated{
	float: right;
}

section {
	padding: 100px 0;

	.section--paragraph__tittle {
		padding: 0;
	}
}


.feature--block {
    padding-top: 60px;
}

.row {
    padding-top: 60px;
}

.featuretitle {
    text-align: center;
}

footer {
    margin-top: 50px;
}

.section--whitepaper {
	margin-top: 100px;
}
