@import '../variables';
@import '../modules/transparent-navbar';

.onlyoffice-background {
	background-image: url('../../img/headers/onlyoffice.jpg');
	background-size: cover;
}

section {
    padding: 50px 0 50px;
    .section--heading-1 {
        padding-bottom: 50px;
    }
    .section--paragraph--tittle {
        padding: 0;
    }
    .row {
        /*         padding: 20px 0 20px 0; */
        .img-responsive {
            max-height: 300px;
        }

    }
}

.section--video {
    .video {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

.section--overview {
    p {
        margin-top: 20px;
    }
}

.section--features {
    padding-top: 0px;
    .row {
        margin-top: 50px;
    }
    li {
        list-style-image: url("../../img/enterprise/check.svg");
    }
}

.call-to-action {
    margin: 80px 0 0px 0;
    padding: 50px 0px;
    background: $nextcloud-blue;
    color: white;
    h1 {
        color: white;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    a {
        color: white;
    }
}
