@import '../variables';
@import '../modules/transparent-navbar';
@import '../modules/transparent-gradient';

.buy-background {
  background-image: url("../../img/headers/enterprise.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    padding-bottom: 0px;
  .menu {
      margin-top: -100px;
  }
}

.section--links {
    padding-top: 0;
    padding-bottom: 0;
    .button {
        margin: 7px 7px;
        min-width: 100px;
    }
    @media (min-width: $navbar-breaksize) {
        display: none;
    }
}

.collaboraNote{
	line-height: 1;
}

.section--welcome {
    padding-top: 150px;
}

.section--order-form {
    padding-top: 0px;
    p {
            margin-bottom: 16px;
        }
}


#orderform input,
#orderform textarea,
#orderform label span {
	font-weight: normal;
}
#orderform input.error,
#orderform textarea.error {
	border: 1px solid rgb(210, 4, 6);
}
#orderform #form-error {
  color: rgb(210, 4, 6);
}



.question {
    margin-bottom: 0px;
}

.details {
    margin-top: 0px;
}

.section--contact-form {
    padding-top: 70px;
    @media (min-width: $navbar-breaksize) {
        padding-top: 170px;
    }
    p {
            margin-bottom: 16px;
    }
    input, select,textarea {
        border-style: solid;
        border-color: lightgray;
        border-width: thin;
		color: #757575;
        margin-bottom: 10px;
        padding-left: 10px;
    }
   input, select, {
        border-radius: 30px;
        height: 30px;
        max-width: 400px;
    }
    input[type='checkbox'] {
        height: 10px;
    }
    input,textarea {
        padding: 10px;
    }
    textarea {
        border-radius: 15px;
    }
    #gdprcheck {
        height: 10px;
    }
    .col-lg-4,.col-lg-3 {
        label {
            float: right;
        }
    }
    @media (max-width: $navbar-breaksize) {
        .col-lg-4,.col-lg-3 {
            label {
                float: none;
            }
        }
    }
}
