@import '../variables';
@import '../modules/transparent-navbar';

.outlook-background {
  background-image: url('../../img/headers/outlook-header.jpg');
  background-size: cover;
}

section {
	padding-top: 70px;
	padding-bottom: 50px;
}

.featurerow {
	margin-top: 100px;
	padding-bottom: 50px;

	.floated {
		float: right;
		padding-bottom: 50px;
	}

	p {
		margin-top: 15px;
	}


	h1,h2 {
		margin-bottom: 50px;
		text-align: center;
	}
}

.featureblock {
	.wrapper--buttons {
		.button {
			margin: 20px 10px 20px 20px;
		}
	}
}

.section--file-sharing {
    ul {
        list-style-type: none;
    }
}

.section--benefits {
	margin: 50px 0;
	padding: 50px 0px;
	li {
		list-style-image: url("../../img/enterprise/check.svg");
		list-style-position: inside;
	}
}

