@import '../variables';
@import '../modules/transparent-navbar';

.partnerprogram-background {
  background: url("../../img/headers/partners.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

footer.page-footer {
	margin-top: 0;
}

.section--benefits {
    	li {
		list-style-image: url("../../img/common/check.svg");
		list-style-position: inside;
	}
}

.section--logos {
    @media (max-width: $break-small) {
        .col-sm-3 {
            float: left;
        }
    }
    .partner-badge {
        width: 100%;
        max-width: 150px;
        padding-top: 30px;
    }
}
