@import '../variables';
@import '../modules/transparent-navbar';

.partnerprogram-background {
  background: url("../../img/headers/partners.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

footer.page-footer {
	margin-top: 0;
}

.section--benefits {
    	li {
		list-style-image: url("../../img/common/check.svg");
		list-style-position: inside;
	}
}
