/*
Error: Invalid CSS after "	}": expected selector or at-rule, was "}"
        on line 235 of pricing.scss

230: 	}
231: 
232: 	.overinfo:hover .infotext {
233: 		opacity: 1;
234: 	}
235: }
236: 
237: /* options section *\/
238: 
239: .section--options {
240: 	margin-top: 133px;

Backtrace:
pricing.scss:235
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:42:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	}\": expected selector or at-rule, was \"}\"\A         on line 235 of pricing.scss\A \A 230: 	}\A 231: \A 232: 	.overinfo:hover .infotext {\A 233: 		opacity: 1;\A 234: 	}\A 235: }\A 236: \A 237: /* options section */\A 238: \A 239: .section--options {\A 240: 	margin-top: 133px;"; }
