@import '../variables';
@import '../modules/transparent-navbar';

.pricing-background {
  background-image: url('../../img/enterprise/enterprise.jpg');
	background-position: bottom 0 right 0;
}

.plans {
  margin-top: 133px;
    h1 {
        margin-bottom: 10px;
    }
    h3 {
        font-size: 1.8em;
        margin-bottom: 45px;
    }
	.table-column {
	cursor: default;
	border-radius: 8px;
	border: solid 1px #eeeeee;
	padding: 0px;
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 50px;
	@media (max-width: $break-big) {
		width: 80%;
		margin: auto;
		margin-bottom: 60px;
	}
	.table-header {
		padding: 0px;
		margin: 0px;
		width: 100%;
		border-radius: 7px 7px 0px 0px;

		h1 {
		text-align: center;
		color: #2a2a36;
		font-size: 22px;
		font-weight: bold;
		line-height: 1.36;
		padding: 0px;
		margin: 0px;
		padding-top: 42px;
		letter-spacing: 0;
		}

		h2 {
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		color: #555555;
		line-height: 1.61;
		padding: 0px;
		margin: 0px;
		padding-top: 0px;
		padding-bottom: 29px;
		}
	}

	.basic {
		background-color: #f9f9f9;
	}

	.standard {
		background-color: #c4e1f7;
	}

	.premium {
		background-color: #178ecd;

		h1 {
		color: white !important;
		}

		h2 {
		color: white !important;
		}
	}

	.highlight {
		box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16);
	}
	}

	.table-content {
		margin: 15px;
		padding: 0px;
		margin-left: 30px;
		margin-right: 30px;

		h1 {
			font-size: 18px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 2.22;
			color: #555555;
			text-align: left;
			letter-spacing: 0;
			margin-top: 25px;
			margin-bottom: 0px;
		}
		.button--large {
			margin-top: 30px;
			margin-bottom: 30px;
			width: 100%;
		}
	}

	.line {
	width: 100%;
	border: solid 1px #eeeeee;
	margin-top: -5px;
	margin-bottom: 15px;
	}

	.hyperlink {
		color: #555555;
	}


	.list {
		li {
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			height: 50px;
		}

		.check {
			list-style-image: url("../../img/enterprise/check.svg");
			list-style-position:inside;
			color: #555555;
		}

		.nocheck {
			list-style-image: url("../../img/enterprise/nocheck.svg");
			list-style-position:inside;
			color: #b1b1b1;

			a {
				color: #b1b1b1;
				text-decoration: none;
			}
		}


		.optional {
			list-style-image: url("../../img/enterprise/optional.svg");
			list-style-position:inside;
			color: #555555;
		}

		.price {
			list-style-image: url("../../img/enterprise/blank.svg");
			list-style-position:inside;
			color: #555555;
		}

	}


	/* Tooltips */

	/* Tooltip text */
	.overinfo .infotext {
		visibility: hidden;
	/*     width: 200px; */
		background-color: #555555;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		line-height: 1.4;
	border-radius: 6px;

		/* Position the tooltip text */
		position: absolute;
		z-index: 10;
		padding: 3px;
	/*     top: 100%; */
	/*     left: 50%;  */
	/*     margin-left: -100px; */
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.overinfo:hover .infotext {
		visibility: visible;
	}

	.overinfo .infotext::after {
		content: " ";
		position: absolute;
		bottom: 100%;  /* At the top of the tooltip */
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent #555555 transparent;
	}

	.overinfo .infotext {
		opacity: 0;
		transition: opacity 0.5s;
	}

	.overinfo:hover .infotext {
		opacity: 1;
	}


}

/* options section */

.section--options {
	margin-top: 133px;
	margin-bottom: 30px;

	.container-widest {
		.introduction {
			padding-top: 50px;
			padding-bottom: 50px;
			h1 {
				margin-bottom: 30px;
			}
		}
		.row {
		margin-left: 5px;
		margin-right: 5px;
		}

		.col-md-4 {
			padding: 20px;
		}

		.featureblock {
			margin-top: 50px;
/* 			margin-bottom: 50px; */
			padding: 20px;
			border: solid 1px transparent;
			&:hover{
				box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
				border: solid 1px #fbfbfb;
				border-radius: 8px;
				transition: all 0.5s ease;
			}

			.section--paragraph__tittle {
				text-align: center;
			}

			i[class*='fa-'] {
				font-size: 140px;
				display: block;
				color: #0082c9;
				text-align: center;
				padding-bottom: 50px;
			}

			.img-responsive {
				margin-left: auto;
				margin-right: auto;
				margin-top: 0px;
				margin-bottom: 50px;
			}

			.price-big {
				font-size: 22px;
				margin-bottom: 2px;
				text-align: center;
			}
			.price-small {
				font-size: 16px;
				margin-top: 0px;
				text-align: center;
			}
		} /* end featureblock */
	} /* end container-widest */
} /* end section */

/* Other Products section */

.section--others {
    margin: 0 0 0 0;
    padding: 90px 0 70px 0;
    background-color: #eee;
    .row {
        margin-bottom: 10px;
    }
    img {
        padding: 20px;
    }
}

/* Discount section */

.discounts {
  margin-top: 84px;
  margin-bottom: 30px;
  .box {
    padding: 30px;
	  border: solid 1px transparent;
    margin-bottom: 50px;
	svg {
		max-height: 300px;
		margin: 30px auto 30px auto;
		height: auto !important;
		width: auto !important;
		max-width: 300px;
		display: block;
	}
    &:hover{
      box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
      border: solid 1px #fbfbfb;
      border-radius: 8px;
      transition: all 0.5s ease;
    }
  }
}

/* FAQ section  */
.faq {
  background: $nextcloud-blue;
  padding-bottom: 50px;

  .container {
    background: white;
    margin-bottom: 90px;
    padding-left: 0px;
    padding-right: 0px;

    .row {
      padding: 30px;
      margin: 40px;
      margin-right: 60px;
      @media (max-width: $break-small) {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-right: 30px;
      }
    }
  }
  	h2 {
		font-size: 30px;
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.45;
		text-align: left;
		color: #555555;
		margin-top: 30px;
	}
	h3 {
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.45;
		text-align: left;
		color: #555555;
	}
	h1 {
		font-size: 60px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.88;
		color: #ffffff;
		margin-top: 100px;
		margin-bottom: 80px;
		text-align: center;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.61;
		text-align: left;
		color: #555555;
	}
	.downarrow a {
		color: #555555;
		&:hover {
			text-decoration: none;
		}
		&:active {
			text-decoration: none;
		}
	}
	.line {
		width: 100%;
		height: 1px;
		border: solid 1px #eeeeee;
	}
	.downarrow {
		position: relative;
	}

	.downarrow span.icon-arrow-down {
		background: url('../../img/common/simple_arrow_down_grey.svg') center/contain no-repeat;
		position: absolute;
		width: 25px;
		height: 100%;
		right: -30px;
		top: 0px;
	}
}


#tooltip
{
    text-align: center;
    color: #fff;
    background: #555;
    position: absolute;
    z-index: 100;
    padding: 15px;
	border-radius: 6px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #555;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #555;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }
