@import '../variables';
@import '../modules/transparent-navbar';
.register-hero-section {
	.background {
		background-color: $nextcloud-blue;
		background-image: none;
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: 0;
		background-repeat: no-repeat;
		background-position: bottom 0 right 0;
		background-size: cover;
		border-radius: 0 !important;
		height: 70vh;
		min-height: 600px;
		max-height: 800px;
		background-image: url('../../img/register/hero__register.jpg');
	}
}
