@import '../variables';
@import '../modules/transparent-navbar';
.register-background {
    background: url('../../img/headers/register.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    /*    border-radius: 0 !important;
     *   height: 70vh;
     *   min-height: 600px;
     *   max-height: 800px;*/
}

.section--providers {
    padding: 30px 0;
    background-color: $nextcloud-blue;
    .provider {
        .summary {
            max-width: 440px;
            margin: 10px 10px 10px 10px;
        }

    }
}
