@import '../variables';
@import '../modules/transparent-navbar';
/* @import '../modules/vertical'; */

.securedrop-background {
  background: url("../../img/headers/securedrop.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px
}

.image--floated{
	float: right;
}

section {
	margin-top: 150px;
/* 	padding: 50px 0; */

	.section--paragraph__tittle {
		padding: 0;
	}
}

.video {
	margin-bottom: 30px;
}


.section--overview {
    margin-top: 100px;
    .img-responsive {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .section--paragraph__tittle {
/*         padding-bottom: 10px; */
    }
    .row {
        margin-bottom: 15px;
    }
}

.section--keyfeatures {
    .container-fluid {
        .row {
            max-width: 1500px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }
        li {
            list-style-image: url("../../img/enterprise/check.svg");
            list-style-position: inside;
            color: white;
        }
    }
}

.section--details {
    .row {
        margin-bottom: 50px;
    }
    h2 {
        padding-bottom: 50px;
    }
}

.section--contact {
	margin: 100px 0 0 0;
    padding: 90px 70px 70px 70px;
    background: $nextcloud-blue;

	p {
		color: white;
	}
	li {
        color: white;
    }
	.hyperlink {
		color: white;
	}
}

footer {
    margin-top: 0px;
}
