@import '../variables';
@import '../modules/transparent-navbar';

.security-background {
    background-image: url("../../img/security/security.jpg");
    background-position: bottom 0 right 0;

    .topheader {
        h1 {
            margin-top: 0;
        }
    }
}

/* All headers */

.featureblock {
    padding: 140px 0;
    //padding-top: 140px;

    &--has-separator {
        border-top: 1px solid #E8E8E8;
    }

    .img-responsive {
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        margin-bottom: 17px;
    }

    .features--container {
        padding-top: 100px;
        display: inline-block;

        .section--paragraph {
            padding-bottom: 10px;
        }

        .feature {
            padding: 15px 0;

            .icon {
                margin-top: 15px;
				margin-bottom: 3px;
            }

            .section--paragraph {
                padding-bottom: 5px;
                padding-top: 10px;
            }
        }
    }
    .image--floated{
        float: right;
    }

    .screenshot {
        margin-top: 160px;
        margin-bottom: 20px;
        border: solid 1px transparent;
        border-radius: 0px;
        border: solid 1px #fbfbfb;
        -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.04);
        box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.04);

        &:hover{
            -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
            border: solid 1px #fbfbfb;
            border-radius: 0px;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    }

    @media  (max-width: $break-small) {
        .screenshot {
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    h2 {
        color: #2a2a36;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    h3 {
        text-align: left;
        font-size: 30px;
    }

    .row {
		margin-left: 0px;
		margin-right: 0px;
	}
}


/* security badges */


.security-badge {
    text-align: center;
    /* 	display: inline-block; */
    img {
        height: 140px;
        padding: 5px;
    }

}

section {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Process image */

.process {
    /* 	min-height: 1150px; */
    padding-bottom: 100px;

    h1 {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        text-align: center;
        color: #2a2a36;
    }

    p {
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        text-align: left;
        color: #434343;
        &:last-of-type {
            margin-bottom: 30px;
        }
    }
    .snav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .securitybadge {
        img {
            max-width: 30px;
            display: inline;
        }
    }

    @media (min-width: $break-small) {
        /* 		height: 1450px; */

        .nav-pills li {
            width: 19%;
            margin: 0px;
        }
        .nav-pills li a {
            padding: 0px;
        }

        .nav-pills li a img {
            width: 115%;
            /* 			height: 100%; */
            /* 			height: 70px; */
        }

        .nav-pills>li>a {
            background-color: transparent;
        }

        .nav-pills>li>a:focus {
            -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
            filter: grayscale(50%);
            background-color: transparent;
        }

        .nav-pills>li>a:hover {
            -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
            filter: grayscale(50%);
            background-color: transparent;
        }

        .nav-pills>li.active>a {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }

        .nav-pills>li.active>a:focus {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }

        .nav-pills>li.active>a:hover {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }

        .nav-pills li.active img {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }
        .img-responsive {
            margin-left: auto;
            margin-right: auto;
            margin-top: 36px;
            margin-bottom: 17px;
        }

        .main {
            /* 			width: 1046px; */
            /* 			height: auto; */
        }
        .processimg {
            position: relative;
            height: 900px;
            /* 			width: 1046px; */
        }

        .info {
            position: absolute;
            top: 70px;
            /* 		left: -120px; */
            /* 		bottom: 0; */
            /* 		right: 0; */
            /* 		background-color: rgba(255, 255, 255, 0.6); */
            p {
                font-size: 20px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                text-align: center;
                color: #434343;
                &:last-of-type {
                    margin-bottom: 30px;
                }
            }

        }
    }

    @media (max-width: $break-small) {
        /* 		height: 1850px; */

        .nav-pills li {
            width: 30%;
            margin: 10px 0px 0px 0px;
        }

        .nav-pills li a {
            padding: 0px;
        }

        .nav-pills li a img {
            width: 115%;
            /* 			height: 100%; */
            /* 			height: 70px; */
        }

        .nav-pills>li>a {
            background-color: transparent;
        }

        .nav-pills>li>a:focus {
            -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
            filter: grayscale(50%);
            background-color: transparent;
        }

        .nav-pills>li>a:hover {
            -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
            filter: grayscale(50%);
            background-color: transparent;
        }

        .nav-pills>li.active>a {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }

        .nav-pills>li.active>a:focus {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }

        .nav-pills>li.active>a:hover {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }

        .nav-pills li.active img {
            -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
            filter: grayscale(100%);
            background-color: transparent;
        }
        .img-responsive {
            margin-left: auto;
            margin-right: auto;
            margin-top: 36px;
            margin-bottom: 17px;
        }

        .main {
            /* 			width: 1046px; */
            height: auto;
        }
        .processimg {
            position: relative;
            min-height: 900px;
            width: 100%;
        }

        .info {
            position: absolute;
            top: 140px;
            /* 		left: -120px; */
            /* 		bottom: 0; */
            /* 		right: 0; */
            /* 		background-color: rgba(255, 255, 255, 0.6); */
            p {
                font-size: 20px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                text-align: center;
                color: #434343;
                &:last-of-type {
                    margin-bottom: 30px;
                }
            }

        }

    }
    @media (min-width: $break-big) {
        .processimg {
            height: 500px;
        }
    }

}

.section--bounties {
	.quote-by {
		margin-top: -35px;
		margin-bottom: 30px;
	}
	@media  (min-width: $break-big) {
		.notitle {
			margin-top: 100px;
		}
    }
}

.development {
    margin-top: 64px;
    margin-bottom: 30px;
    a {
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        text-align: center;
        color: #178ecd;
    }

    p {
        text-align: center;
    }

    .box {
        margin-top: 20px;
        border: solid 1px transparent;
        margin-bottom: 50px;

        &:hover{
            -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
            border: solid 1px #fbfbfb;
            border-radius: 0px;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        h1 {
            font-size: 25px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            text-align: center;
            color: #2a2a36;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            text-align: center;
            color: #434343;
            &:last-of-type {
                margin-bottom: 30px;
            }
        }
        .img-responsive {
            margin-left: auto;
            margin-right: auto;
            margin-top: 36px;
            margin-bottom: 17px;
        }
    }
}


.claim {
    margin-top: -103px;

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 40px 40px 30px 40px ;
        background: #FFFFFF;
        border: 1px solid #FCFCFC;
        -webkit-box-shadow: 0 1px 40px 0 rgba(0,0,0,0.14);
        box-shadow: 0 1px 40px 0 rgba(0,0,0,0.14);
    }

    &__paragraph {
        font-style: italic;
    }

    &__brand {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__logo {
            background: url("../../img/security/ncc_logo.png") no-repeat center/contain;
            width: 46px;
            height: 46px;
        }

        &__text {
            margin: 0;
            padding: 0 0 0 10px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 15px;
            color: $medium-grey;
        }
    }
}

.banner {
    background-color: $nextcloud-blue;
    position: relative;
    overflow: hidden;

    h2 {
        text-align: left;
        color: white;
    }

    p {
        padding-top: 30px;
        text-align: left;
        color: white;
    }

    .col-md-6 {
        padding: 80px 60px;
    }

    img {
        position: absolute;
        width: 60%;
        top: 60px;
    }
}
