/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

.security-background {
  background-image: url("../../img/security/security.jpg");
  background-position: bottom 0 right 0; }
  .security-background .topheader h1 {
    margin-top: 0; }

/* All headers */
.featureblock {
  padding: 140px 0; }
  .featureblock--has-separator {
    border-top: 1px solid #E8E8E8; }
  .featureblock .img-responsive {
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    margin-bottom: 17px; }
  .featureblock .features--container {
    padding-top: 100px;
    display: inline-block; }
    .featureblock .features--container .section--paragraph {
      padding-bottom: 10px; }
    .featureblock .features--container .feature {
      padding: 15px 0; }
      .featureblock .features--container .feature .icon {
        margin-top: 15px;
        margin-bottom: 3px; }
      .featureblock .features--container .feature .section--paragraph {
        padding-bottom: 5px;
        padding-top: 10px; }
  .featureblock .image--floated {
    float: right; }
  .featureblock .screenshot {
    margin-top: 160px;
    margin-bottom: 20px;
    border: solid 1px transparent;
    border-radius: 0px;
    border: solid 1px #fbfbfb;
    -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.04); }
    .featureblock .screenshot:hover {
      -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
      box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
      border: solid 1px #fbfbfb;
      border-radius: 0px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  @media (max-width: 768px) {
    .featureblock .screenshot {
      margin-top: 0;
      margin-bottom: 15px; } }
  .featureblock h2 {
    color: #2a2a36;
    margin-top: 25px;
    margin-bottom: 25px; }
  .featureblock h3 {
    text-align: left;
    font-size: 30px; }
  .featureblock .row {
    margin-left: 0px;
    margin-right: 0px; }

/* security badges */
.security-badge {
  text-align: center;
  /* 	display: inline-block; */ }
  .security-badge img {
    height: 140px;
    padding: 5px; }

section {
  margin-top: 30px;
  margin-bottom: 30px; }

/* Process image */
.process {
  /* 	min-height: 1150px; */
  padding-bottom: 100px; }
  .process h1 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: center;
    color: #2a2a36; }
  .process p {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: left;
    color: #434343; }
    .process p:last-of-type {
      margin-bottom: 30px; }
  .process .snav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .process .securitybadge img {
    max-width: 30px;
    display: inline; }
  @media (min-width: 768px) {
    .process {
      /* 		height: 1450px; */ }
      .process .nav-pills li {
        width: 19%;
        margin: 0px; }
      .process .nav-pills li a {
        padding: 0px; }
      .process .nav-pills li a img {
        width: 115%;
        /* 			height: 100%; */
        /* 			height: 70px; */ }
      .process .nav-pills > li > a {
        background-color: transparent; }
      .process .nav-pills > li > a:focus {
        -webkit-filter: grayscale(50%);
        /* Chrome, Safari, Opera */
        filter: grayscale(50%);
        background-color: transparent; }
      .process .nav-pills > li > a:hover {
        -webkit-filter: grayscale(50%);
        /* Chrome, Safari, Opera */
        filter: grayscale(50%);
        background-color: transparent; }
      .process .nav-pills > li.active > a {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .nav-pills > li.active > a:focus {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .nav-pills > li.active > a:hover {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .nav-pills li.active img {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .img-responsive {
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        margin-bottom: 17px; }
      .process .main {
        /* 			width: 1046px; */
        /* 			height: auto; */ }
      .process .processimg {
        position: relative;
        height: 900px;
        /* 			width: 1046px; */ }
      .process .info {
        position: absolute;
        top: 70px;
        /* 		left: -120px; */
        /* 		bottom: 0; */
        /* 		right: 0; */
        /* 		background-color: rgba(255, 255, 255, 0.6); */ }
        .process .info p {
          font-size: 20px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.36;
          text-align: center;
          color: #434343; }
          .process .info p:last-of-type {
            margin-bottom: 30px; } }
  @media (max-width: 768px) {
    .process {
      /* 		height: 1850px; */ }
      .process .nav-pills li {
        width: 30%;
        margin: 10px 0px 0px 0px; }
      .process .nav-pills li a {
        padding: 0px; }
      .process .nav-pills li a img {
        width: 115%;
        /* 			height: 100%; */
        /* 			height: 70px; */ }
      .process .nav-pills > li > a {
        background-color: transparent; }
      .process .nav-pills > li > a:focus {
        -webkit-filter: grayscale(50%);
        /* Chrome, Safari, Opera */
        filter: grayscale(50%);
        background-color: transparent; }
      .process .nav-pills > li > a:hover {
        -webkit-filter: grayscale(50%);
        /* Chrome, Safari, Opera */
        filter: grayscale(50%);
        background-color: transparent; }
      .process .nav-pills > li.active > a {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .nav-pills > li.active > a:focus {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .nav-pills > li.active > a:hover {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .nav-pills li.active img {
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        background-color: transparent; }
      .process .img-responsive {
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        margin-bottom: 17px; }
      .process .main {
        /* 			width: 1046px; */
        height: auto; }
      .process .processimg {
        position: relative;
        min-height: 900px;
        width: 100%; }
      .process .info {
        position: absolute;
        top: 140px;
        /* 		left: -120px; */
        /* 		bottom: 0; */
        /* 		right: 0; */
        /* 		background-color: rgba(255, 255, 255, 0.6); */ }
        .process .info p {
          font-size: 20px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.36;
          text-align: center;
          color: #434343; }
          .process .info p:last-of-type {
            margin-bottom: 30px; } }
  @media (min-width: 991px) {
    .process .processimg {
      height: 500px; } }

.section--bounties .quote-by {
  margin-top: -35px;
  margin-bottom: 30px; }
@media (min-width: 991px) {
  .section--bounties .notitle {
    margin-top: 100px; } }

.development {
  margin-top: 64px;
  margin-bottom: 30px; }
  .development a {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: center;
    color: #178ecd; }
  .development p {
    text-align: center; }
  .development .box {
    margin-top: 20px;
    border: solid 1px transparent;
    margin-bottom: 50px; }
    .development .box:hover {
      -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
      box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
      border: solid 1px #fbfbfb;
      border-radius: 0px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .development .box h1 {
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      text-align: center;
      color: #2a2a36; }
    .development .box p {
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      text-align: center;
      color: #434343; }
      .development .box p:last-of-type {
        margin-bottom: 30px; }
    .development .box .img-responsive {
      margin-left: auto;
      margin-right: auto;
      margin-top: 36px;
      margin-bottom: 17px; }

.claim {
  margin-top: -103px; }
  .claim__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 30px 40px;
    background: #FFFFFF;
    border: 1px solid #FCFCFC;
    -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14); }
  .claim__paragraph {
    font-style: italic; }
  .claim__brand {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .claim__brand__logo {
      background: url("../../img/security/ncc_logo.png") no-repeat center/contain;
      width: 46px;
      height: 46px; }
    .claim__brand__text {
      margin: 0;
      padding: 0 0 0 10px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 15px;
      color: #6c6c6c; }

.banner {
  background-color: #0082c9;
  position: relative;
  overflow: hidden; }
  .banner h2 {
    text-align: left;
    color: white; }
  .banner p {
    padding-top: 30px;
    text-align: left;
    color: white; }
  .banner .col-md-6 {
    padding: 80px 60px; }
  .banner img {
    position: absolute;
    width: 60%;
    top: 60px; }

/*# sourceMappingURL=secure.css.map */
