@import '../variables';
@import '../modules/transparent-navbar';

.storage-background {
	background: url('../../img/headers/storage.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 200px;
}

.image--floated{
	float: right;
}

section {
	margin-top: 150px;

	.section--paragraph__tittle {
		padding: 0;
	}
}

.section--storage {
	.row {
		margin-bottom: 100px;
	}
}

.featuretitle {
	text-align: center;
}

footer {
	margin-top: 50px;
}

.section--whitepaper {

}
