@import '../variables';
@import '../modules/transparent-navbar';

.storage-background {
	background: url('../../img/headers/storage.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 200px;
}

section {
	.section--paragraph__title {
		padding: 0;
	}
}

.section--storage {
	margin-top: 150px;
	.row {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.featuretitle {
    text-align: center;
}
