@import '../variables';
@import '../modules/transparent-navbar';

.support-background {
  background: url("../../img/headers/support.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

section {
    padding-top: 50px;
    margin-top: 40px;
}

.section--documentation {
    li {
        /* 			list-style-type: circle; */
        list-style-image: url("../../img/common/check-as-blue-arrow.svg");
        /* 		list-style-position:inside; */
    }
}

.section--options {
/*     margin-top: 100px; */
    .icon {
        width: 100px;
        height: auto;
        margin: 50px 0 30px 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    .row {
        margin-bottom: 15px;
    }
}
