@import "variables.scss";
@import "transparent-navbar.scss";

.support-background {
  background: url("../img/headers/support.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}



