@import '../variables';
@import '../modules/transparent-navbar';

.talk-background {
  background: url('../../img/headers/talk.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px
}

section {
	padding: 50px 0;
	.section--paragraph__tittle {
		padding: 0;
	}
	h2 {
 		padding-bottom: 0px;
 	}
 	.row {
 		padding-top: 40px;
 	}
}

.featuretitle {
    text-align: center;
}

.section--benefits {
	i[class*='fa-'] {
		font-size: 40px;
		display: block;
		color: #0082c9;
		text-align: center;
		vertical-align: center;
		padding-top: 20%;
		margin-left: auto;
		margin-right: auto;
	}
				.icon {
					max-width: 120px;
			}
			.scaling-svg-container {
				height: 0;
				width: 100%;
				padding: 0;
				padding-bottom: 100%;
				margin-left: auto;
				margin-right: auto;
				/* override this inline for aspect ratio other than square */

				@media (max-width: $break-small) {
					position: relative;
					margin-left: 0;
					}
				}
			svg {
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				}

	.list {
		padding-top: 180px;
	}
	@media (max-width: $break-big) {
		img {
			max-height: 500px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.section--features {
	margin: 50px 0;
	.container {
	}
	li {
		list-style-type: disc;
	}
}

.section--options {
	margin-bottom: 30px;

	.container-widest {
		.introduction {
			padding-top: 50px;
			padding-bottom: 0px;
			h1 {
				margin-bottom: 30px;
			}
		}
		.row {
		margin-left: 5px;
		margin-right: 5px;
		}

		.col-md-4 {
			padding: 20px;
		}

		.featureblock {
			margin-top: 50px;
/* 			margin-bottom: 50px; */
			padding: 20px;
			border: solid 1px transparent;
			&:hover{
				box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
				border: solid 1px #fbfbfb;
				border-radius: 8px;
				transition: all 0.5s ease;
			}

			.section--paragraph__tittle {
				text-align: center;
			}

			.img-responsive {
				margin-left: auto;
				margin-right: auto;
				margin-top: 0px;
				margin-bottom: 50px;
			}

			.price-big {
				font-size: 22px;
				margin-bottom: 2px;
				text-align: center;
			}
			.price-small {
				font-size: 16px;
				margin-top: 0px;
				text-align: center;
			}
		} /* end featureblock */
	} /* end container-widest */
} /* end section */

footer {
    margin-top: 0px;
}

