@import '../variables';
@import '../modules/transparent-navbar';
@import '../../fonts/fork-awesome/css/fork-awesome.min';

.separator{
	margin: 100px 0 50px 0;
	height: 40px;
	background: #f6f6f6;
}

.training-background {
  background: url("../../img/conference/parkinn.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px
}

section {
    padding: 50px 0 50px;
    .section--heading-1 {
        padding-bottom: 50px;
    }
    .section--paragraph--tittle {
        padding: 0;
    }
    .row {
        padding: 20px 0 20px 0;
		.feature--block {
		}
    }
	.feature-row {
		padding: 60px 0 60px 0;
	}
}

.img-responsive {
    padding-top: 10px;
    @media (min-width: $break-big) {
        margin-bottom: 50px;
    }
    @media (min-width: $very-wide) {
        /* 	margin-bottom: 0px; */
    }
}


.section--overview {
	padding-top: 30px;
	i[class*='fa-'] {
		font-size: 40px;
		display: block;
		color: #0082c9;
		margin-top: 10px;
	/* 	text-align: center; */
	/* 	padding-top: 20%; */
		vertical-align: center;
	}
	img {
		width: 95%;
	}
	.location {
		position:relative;
	}
	a.overlay {
		z-index: 10;
		position:absolute;
		top:0;
		left:0;
		opacity:0;
		-webkit-transition: opacity 0.3s ease-in-out;
		-moz-transition: opacity 0.3s ease-in-out;
		-ms-transition: opacity 0.3s ease-in-out;
		-o-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
		&:hover, &:focus, &:active {
			opacity:1;
		}
	}
}


.section--training {
}


.section--benefits {
	padding-top: 30px;
	.section--heading-1 {
		padding-bottom: 0px;
	}
	p {
		padding-top: 0px;
		}
	ul {
		padding-top: 10px;
	}
	.banner .col-md-6 {
		padding: 40px 0;
	}
	.hyperlink {
		color: white;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

.section--training {
	padding: 0px;
	p {
		padding-top: 30px;
	}
	ul {
		margin-top: 1px;
	}
	li {
		margin-top: 1px;
		font-size: small;
	}
	.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
		border-top: none;
		padding: 12px;
	}
	th {
		font-weight: normal;
		opacity: 0.5;
		text-align: right;
	}
	.break {
		opacity: 0.5;
	}
}


footer {
    margin-top: 0px;
}
