/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* New widest container for headers */
.container-widest {
  max-width: 1800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container-widest .container-widest {
      width: 738px; } }
  @media (min-width: 992px) {
    .container-widest .container-widest {
      width: 962px; } }
  @media (min-width: 1200px) {
    .container-widest .container-widest {
      width: 1170px; } }
  @media (min-width: 1500px) {
    .container-widest .container-widest {
      width: 1470px; } }
  @media (min-width: 1800px) {
    .container-widest .container-widest {
      width: 1770px; } }

/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

.separator {
  margin: 100px 0 50px 0;
  height: 40px;
  background: #f6f6f6; }

.training-background {
  background: url("../../img/conference/liederhalle-stuttgart.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px; }

section {
  padding: 50px 0 50px; }
  section .section--heading-1 {
    padding-bottom: 50px; }
  section .section--paragraph--tittle {
    padding: 0; }
  section .row {
    padding: 20px 0 20px 0; }
  section .feature-row {
    padding: 60px 0 60px 0; }

.img-responsive {
  padding-top: 10px; }
  @media (min-width: 991px) {
    .img-responsive {
      margin-bottom: 50px; } }
  @media (min-width: 1600px) {
    .img-responsive {
      /* 	margin-bottom: 0px; */ } }

.section--overview {
  padding-top: 30px; }
  .section--overview i[class*='fa-'] {
    font-size: 40px;
    display: block;
    color: #0082c9;
    margin-top: 10px;
    /* 	text-align: center; */
    /* 	padding-top: 20%; */
    vertical-align: center; }
  .section--overview img {
    width: 95%; }
  .section--overview .location {
    position: relative; }
  .section--overview a.overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
    .section--overview a.overlay:hover, .section--overview a.overlay:focus, .section--overview a.overlay:active {
      opacity: 1; }

.section--benefits {
  padding-top: 30px; }
  .section--benefits .section--heading-1 {
    padding-bottom: 0px; }
  .section--benefits p {
    padding-top: 0px; }
  .section--benefits ul {
    padding-top: 10px; }
  .section--benefits .banner .col-md-6 {
    padding: 40px 0; }
  .section--benefits .hyperlink {
    color: white;
    opacity: 0.8; }
    .section--benefits .hyperlink:hover {
      opacity: 1; }

.section--training {
  padding: 0px; }
  .section--training p {
    padding-top: 30px; }
  .section--training ul {
    margin-top: 1px; }
  .section--training li {
    margin-top: 1px;
    font-size: small; }
  .section--training .table > thead > tr > th, .section--training .table > thead > tr > td, .section--training .table > tbody > tr > th, .section--training .table > tbody > tr > td, .section--training .table > tfoot > tr > th, .section--training .table > tfoot > tr > td {
    border-top: none;
    padding: 12px; }
  .section--training th {
    font-weight: normal;
    opacity: 0.5;
    text-align: right; }
  .section--training .break {
    opacity: 0.5; }

footer {
  margin-top: 0px; }

/*# sourceMappingURL=training.css.map */
