@import '../variables';
@import '../modules/transparent-navbar';

.storage-background {
  background: url("../img/headers/webrtc.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px
}

.image--floated{
	float: right;
}

section {
	margin-top: 150px;
/* 	padding: 50px 0; */

	.section--paragraph__tittle {
		padding: 0;
	}
}

.row {
    margin-bottom: 150px;
}

.featuretitle {
    text-align: center;
}

footer {
    margin-top: 0px;
}

.quote {
	margin: 100px 0 0 0;
	padding: 70px;
	padding-top: 90px;
	background: $nextcloud-blue;
	.row {
		margin-bottom: 0px;
	}
	p {
		color: white;
	}
	.hyperlink {
		color: white;
	}
}
