@import '../variables';
@import '../modules/transparent-navbar';

.whitepapers-background {
  background: url('../../img/headers/usermanagement.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.section--header {
	.col-md-8 p {
	text-align: center;
	}
}


section {
	padding: 100px 0;
	min-width: 320px;

	.row {
		padding-top: 60px;
	}

	.list {
        .col-md-3 {
            padding-bottom: 20px;
        }
		.row {
			margin-left: 0px;
			margin-right: 0px;
		}
		.wpthumbnail {
			height: 255px;
			margin-left: auto;
			margin-right: auto;
			img {
				max-height: 250px;
			}
		}
		.description {
			height: 200px;
		}
		.section--paragraph__title {
			padding: 0 0;
			font-size: 18px;
            height: 60px;
            margin-top: 5px;
            margin-bottom: 0px;
		}
		.section--paragraph {
			font-size: 14px;
			max-width: 400px;
		}


		.recaptcha {
			-webkit-transform: scale(0.87);
			-moz-transform: scale(0.87);
			-ms-transform: scale(0.87);
			-o-transform: scale(0.87);
			transform: scale(0.87);
			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
			-o-transform-origin: 0 0;
			transform-origin: 0 0;
			margin: 10px auto 10px auto;
		}

		@media (max-width: $navbar-breaksize) {
			.description {
/* 				height: 220px; */
			}
			.recaptcha {
				-webkit-transform: scale(0.70);
				-moz-transform: scale(0.70);
				-ms-transform: scale(0.70);
				-o-transform: scale(0.70);
				transform: scale(0.70);
				-webkit-transform-origin: 0 0;
				-moz-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				-o-transform-origin: 0 0;
				transform-origin: 0 0;
				margin: 10px auto 0px auto;
			}
		}
		@media (max-width: $break-big) {
			.description {
/* 				height: 130px; */
			}
			.recaptcha {
				-webkit-transform: scale(1.0);
				-moz-transform: scale(1.0);
				-ms-transform: scale(1.0);
				-o-transform: scale(1.0);
				transform: scale(1.0);
				-webkit-transform-origin: 0 0;
				-moz-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				-o-transform-origin: 0 0;
				transform-origin: 0 0;
				margin: 5px auto 10px auto;
			}
		}

		form {
			max-width: 400px;
		}
		.button--blue {
			text-decoration: none;
			color: $nextcloud-blue;
			background-color: white;
			border: solid 1px $nextcloud-blue;
		}
		.button--blue:hover {
			text-decoration: none;
			color: white;
			background-color: $nextcloud-blue;
		}
		.button--small {
			width: 100%;
			max-width: 300px;
		}
		.mail {
			height: 40px;
			border-radius: 40px;
			border-style: solid;
			border-color: lightgray;
			border-width: thin;
			padding: 8px;
	/*         margin-top: 15px; */
			color: #757575;
			width: 100%;
			max-width: 300px;
		}
	    .newsletter {
            margin-top: 5px;
            padding-left: 15px;
            line-height: 1.2;
            small {
                line-height: 1.2;
            }
            input {
                margin-left: -15px;
			}
		}
	}
}

.section--blogs {
	padding: 0 0 100px 0;
}

footer {
/*     margin-top: 0px; */
}
