@import '../variables';
@import '../modules/transparent-navbar';

.workflow-background {
  background: url('../../img/headers/workflow.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.col-md-8 p {
  text-align: center;
}

.image--floated {
	float: right;
}

.section--desktop {
	padding-top: 80px;
}

section {
	padding: 100px 0;

	.section--paragraph__tittle {
		padding: 0;
	}
}


.feature--block {
    padding-top: 60px;
}

.row {
    padding-top: 60px;
}

.featuretitle {
    text-align: center;
}

footer {
    margin-top: 50px;
}
