[class^='app-'], [class*=' app-'] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  min-width: 16px;
  min-height: 16px;
}

.app-bookmarks {
    background-image: url('../img/apps/bookmarks.svg');
}
.app-calendar {
    background-image: url('../img/apps/calendar.svg');
}
.app-collabora {
    background-image: url('../img/apps/collabora.svg');
}
.app-contacts {
    background-image: url('../img/apps/contacts.svg');
}
.app-files,
.app-core {
    background-image: url('../img/apps/files.svg');
}
.app-deck {
    background-image: url('../img/apps/deck.svg');
}
.app-drawio {
    background-image: url('../img/apps/drawio.svg');
}
.app-fulltextsearch {
    background-image: url('../img/apps/fulltextsearch.svg');
}
.app-gallery {
    background-image: url('../img/apps/gallery.svg');
}
.app-mail {
    background-image: url('../img/apps/mail.svg');
}
.app-mindmaps {
    background-image: url('../img/apps/mindmaps.svg');
}
.app-news {
    background-image: url('../img/apps/news.svg');
}
.app-notes {
    background-image: url('../img/apps/notes.svg');
}
.app-passman {
    background-image: url('../img/apps/passman.svg');
}
.app-spreed {
    background-image: url('../img/apps/spreed.svg');
}
.app-tasks {
    background-image: url('../img/apps/tasks.svg');
}
.app-twofactor_totp {
    background-image: url('../img/apps/twofactor_totp.svg');
}
