.background {
  padding-bottom: 0;
  padding-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;

  h1 {
    padding-top: 0;
    color: white;
    transform: translateY(50px);
  }

  h2 {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-shadow: 0px 0px 10px #333;
    transform: translateY(50px);
  }

  .topheader {
/*     position: absolute; */
/*     top: 30%; */
    margin-top: 200px;
    padding: 0;
    max-width: 600px;
  }
    .topsidebar {
        margin-top: 80px;
        opacity: 1;
        .sidebarlist {
            padding: 30px 20px 30px 20px;
            opacity: 1;
            width: 400px;
            margin-left: auto;
            margin-right: 0px;
            .header {
                background-color: lightgrey;
                border-radius: 50px 50px 0 0;
                color: black;
                margin-bottom: 0;
                font-size: 28px;
                padding: 30px 50px 30px 50px;
            }
            .content {
                padding: 10px;
                margin-top: 0;
                color: black;
                background-color: white;
                border-radius: 0 0 50px 50px;
                ul {
                    padding: 0 40px 0 70px;
                    li {
                        list-style-image: url("../../img/enterprise/check.svg");
                        /*                     list-style-position: inside; */
                    }
                }
                .button {
                    width: 300px;
                    margin: 20px;
                }
            }
        }
    }
}


/* make sure a hero section doesn't have a padding on top either */
.hero-section {
    padding-top: 0px;
}
