/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* New widest container for headers */
.container-widest {
  max-width: 1800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container-widest .container-widest {
      width: 738px; } }
  @media (min-width: 992px) {
    .container-widest .container-widest {
      width: 962px; } }
  @media (min-width: 1200px) {
    .container-widest .container-widest {
      width: 1170px; } }
  @media (min-width: 1500px) {
    .container-widest .container-widest {
      width: 1470px; } }
  @media (min-width: 1800px) {
    .container-widest .container-widest {
      width: 1770px; } }

.second-menu .menu {
  background: #fbfbfb;
  border-top: solid 1px #e4e4e4;
  text-transform: capitalize;
  vertical-align: middle;
  z-index: 2;
  transform: translateZ(0);
  will-change: transform;
  transition: transform 500ms ease;
  transform: translate3d(0px, 0px, 0px);
  opacity: 0;
  margin-top: -100px; }
  .second-menu .menu.hidedPrincipalNavigation {
    transform: translate3d(0px, -100px, 0px); }
  .second-menu .menu .buttons {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 40px 0 30px 0;
    border-bottom: solid 1px #e4e4e4; }
    @media (max-width: 991px) {
      .second-menu .menu .buttons {
        padding: 30px 0 25px 0; } }
    @media (max-width: 991px) {
      .second-menu .menu .buttons a:not(.btn) {
        display: none; } }
    @media (max-width: 991px) {
      .second-menu .menu .buttons a:not(.button) {
        display: none; } }
    .second-menu .menu .buttons a {
      padding-right: 10px;
      color: #333333;
      transition: all 0.3s ease;
      letter-spacing: 1px; }
      .second-menu .menu .buttons a:focus {
        text-decoration: none; }
      .second-menu .menu .buttons a.active {
        text-decoration: none;
        color: white; }
      .second-menu .menu .buttons a:hover {
        text-decoration: none;
        color: white; }
    .second-menu .menu .buttons .btn-primary {
      float: right;
      font-size: 14px;
      padding: 8px 20px;
      margin-left: 20px;
      margin-top: -5px;
      color: white; }
      @media (max-width: 768px) {
        .second-menu .menu .buttons .btn-primary {
          margin-top: 10px; } }
      .second-menu .menu .buttons .btn-primary:hover {
        text-decoration: none;
        color: white; }
      .second-menu .menu .buttons .btn-primary:before {
        background: none; }
    .second-menu .menu .buttons .button--blue {
      float: right;
      font-size: 14px;
      padding: 0 20px 0 20px;
      margin: -9px 0px 0px 20px;
      /* 				margin-left: 20px; */
      /* 				margin-top: -5px; */
      color: white;
      height: 40px;
      line-height: 50px; }
      @media (max-width: 768px) {
        .second-menu .menu .buttons .button--blue {
          margin-top: 10px; } }
      .second-menu .menu .buttons .button--blue:hover {
        text-decoration: none; }
      .second-menu .menu .buttons .button--blue:before {
        background: none; }
    .second-menu .menu .buttons .button.button--blue.active {
      background-color: white;
      border: 1px solid #0082c9; }

/*# sourceMappingURL=secondmenu.css.map */
