@import "../variables.scss";



.second-menu {
/*         margin-bottom: 150px !important; */

    @media (max-width: $break-big) {
        .scrollmagic-pin-spacer {
            display: none !important;
        }
    }
	.menu {
		background: #fbfbfb;
		border-top: solid 1px #e4e4e4;
		text-transform: capitalize;
		vertical-align: middle;
		z-index: 2;
		transform: translateZ(0);
	    will-change: transform;
    	transition: transform 500ms ease;
    	transform: translate3d(0px, 0px, 0px);
    	opacity: 0;
        margin-top: 0px !important;

        &.hidedPrincipalNavigation {
	    	transform: translate3d(0px, -100px, 0px);
	    }

		.buttons {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			padding: 40px 0 30px 0;
			border-bottom: solid 1px #e4e4e4;

        	@media (max-width: $break-big) {
				padding: 30px 0 25px 0;
			}

			a:not(.btn) {
        	@media (max-width: $break-big) {
        		display: none;
				}
			}

			a:not(.button) {
        	@media (max-width: $break-big) {
        		display: none;
				}
			}

			a {
				padding-right: 10px;
				color: $dark-grey;
                transition: all 0.3s ease;
                letter-spacing: 1px;

				&:focus {
					text-decoration: none;
                    color: black;
				}

				&.active {
					text-decoration: none;
					color: $nextcloud-blue;
				}

				&:hover {
					text-decoration: none;
					color: $nextcloud-blue;
				}
			}

			.btn-primary {
				float: right;
				font-size: 14px;
				padding: 8px 20px;
				margin-left: 20px;
				margin-top: -5px;
				color: white;

				@media (max-width: $break-small) {
				margin-top: 10px;
				}

				&:hover {
					text-decoration: none;
					color: white;
				}

				&:before {
					background: none;
				}
			}

			.button--blue {
				float: right;
				font-size: 14px;
				padding: 0 20px 0 20px;
				margin: -9px 0px 0px 20px;
/* 				margin-left: 20px; */
/* 				margin-top: -5px; */
				color: white;
				height: 40px;
				line-height: 50px;

				@media (max-width: $break-small) {
				margin-top: 10px;
				}

				&:hover {
					text-decoration: none;
				}

				&:before {
					background: none;
				}
			}
            .button.button--blue.active {
                background-color: white;
                border: 1px solid $nextcloud-blue;
            }
		}
	}
}
