/*Colors*/
/*Shadows*/
/*Breakpoints*/
.slideshow {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
  padding: 130px 0;
  position: relative; }
  @media (max-width: 991px) {
    .slideshow {
      padding: 0; } }
  .slideshow .section--heading-1 {
    margin: auto 0;
    position: absolute;
    text-align: center;
    width: 100%; }
    @media (max-width: 991px) {
      .slideshow .section--heading-1 {
        padding-top: 130px;
        position: relative; } }
  .slideshow .container .container-image-center {
    padding: calc((100vh - 435px) /2) 0; }
    @media (max-width: 1400px) {
      .slideshow .container .container-image-center {
        padding: calc((100vh - 315px) /2) 0; } }
    @media (max-width: 991px) {
      .slideshow .container .container-image-center {
        margin-left: -13px;
        padding: 50px 0 203px; } }
    @media (max-width: 768px) {
      .slideshow .container .container-image-center {
        padding-bottom: 260px; } }
    @media (max-width: 600px) {
      .slideshow .container .container-image-center {
        padding-bottom: 180px; } }
    @media (max-width: 340px) {
      .slideshow .container .container-image-center {
        padding-bottom: 130px; } }
    .slideshow .container .container-image-center .image-back {
      height: 440px;
      position: absolute; }
      @media (max-width: 1200px) {
        .slideshow .container .container-image-center .image-back {
          height: auto;
          width: 100%; } }
    .slideshow .container .container-image-center .image-top-container {
      height: 318px;
      left: 17px;
      overflow: hidden;
      position: relative;
      top: 17px;
      width: 507px;
      z-index: 1; }
      .slideshow .container .container-image-center .image-top-container .image-top {
        position: absolute;
        width: 100%;
        top: 0;
        transition: all ease-in 0.3s; }
        .slideshow .container .container-image-center .image-top-container .image-top.image__desktop {
          left: 0 !important; }
        .slideshow .container .container-image-center .image-top-container .image-top.image__mobile {
          top: 0 !important; }
        @media (max-width: 991px) {
          .slideshow .container .container-image-center .image-top-container .image-top {
            width: auto;
            height: 100%;
            max-width: none; } }
  .slideshow .container .texts-wrapper {
    height: 100vh; }
    @media (max-width: 991px) {
      .slideshow .container .texts-wrapper {
        height: auto;
        padding-bottom: 80px; } }
    .slideshow .container .texts-wrapper .right-text-grey {
      margin-top: calc((100vh - 266px) /2);
      padding-bottom: calc((100vh - 236px) /2);
      opacity: 1;
      padding-top: 0;
      transition: all 0.3s ease; }
      .slideshow .container .texts-wrapper .right-text-grey .textTrigger {
        font-size: 18px; }
      .slideshow .container .texts-wrapper .right-text-grey .section--paragraph {
        font-size: 16px !important;
        font-weight: 400 !important;
        color: #6c6c6c; }
      @media (max-width: 991px) {
        .slideshow .container .texts-wrapper .right-text-grey {
          margin-top: 0;
          padding-bottom: 0;
          text-align: left;
          display: none;
          opacity: 0; }
          .slideshow .container .texts-wrapper .right-text-grey.active {
            display: block;
            opacity: 1;
            transform: translate3d(0px, 0px, 0px); }
          .slideshow .container .texts-wrapper .right-text-grey.swiperight {
            transform: translate3d(-150px, 0px, 0px);
            opacity: 0; }
          .slideshow .container .texts-wrapper .right-text-grey.swipeleft {
            transform: translate3d(150px, 0px, 0px);
            opacity: 0; } }
  .slideshow .indicators {
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    position: fixed;
    z-index: 2;
    bottom: 50vh;
    right: 0; }
    @media (max-width: 991px) {
      .slideshow .indicators {
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 600px;
        width: 70px; } }
    .slideshow .indicators .btn_carousel {
      margin-top: 10px;
      width: 14px;
      height: 14px;
      color: transparent;
      border: 1px solid #0082c9;
      background-color: #0082c9;
      border-radius: 50%;
      padding: 0;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out; }
      @media (max-width: 991px) {
        .slideshow .indicators .btn_carousel {
          display: inline-block; } }
      .slideshow .indicators .btn_carousel:hover {
        background-color: transparent;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      .slideshow .indicators .btn_carousel a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; }
    .slideshow .indicators .btn_carousel.active {
      background-color: transparent;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
      .slideshow .indicators .btn_carousel.active a {
        background-color: transparent;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
  .slideshow .active {
    opacity: 1; }

@media (max-width: 768px) {
  .slideshow-mobile .text-container {
    padding-top: 80px; }
  .slideshow-mobile .carousel-control {
    display: none; }
  .slideshow-mobile .carousel-indicators {
    top: 320px;
    z-index: 1; }
    .slideshow-mobile .carousel-indicators li {
      width: 28px;
      height: 28px;
      color: transparent;
      border: 2px solid #0082c9;
      background-color: #0082c9;
      border-radius: 50%;
      padding: 0;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out; }
      .slideshow-mobile .carousel-indicators li.active {
        box-shadow: none;
        background-color: transparent;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
.slideshow-mobile {
  /*  hide on non-mobile */
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  height: 600px; }
  @media (min-width: 1200px) {
    .slideshow-mobile {
      display: none; } }
  @media (max-width: 768px) {
    .slideshow-mobile {
      height: 800px; }
      .slideshow-mobile img {
        max-height: 400px;
        width: auto;
        margin-left: auto;
        margin-right: auto; } }
  .slideshow-mobile .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity; }
  .slideshow-mobile .carousel-fade .carousel-inner .active {
    opacity: 1; }
  .slideshow-mobile .carousel-fade .carousel-inner .active.left,
  .slideshow-mobile .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1; }
  .slideshow-mobile .carousel-fade .carousel-inner .next.left,
  .slideshow-mobile .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  .slideshow-mobile .carousel-fade .carousel-control {
    z-index: 2;
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50); }
    @media (max-width: 768px) {
      .slideshow-mobile .carousel-fade .carousel-control {
        top: 20%; } }
    .slideshow-mobile .carousel-fade .carousel-control .glyphicon {
      /*        margin-top: -15px; */
      margin: -15px;
      font-size: 30px; }
  .slideshow-mobile .carousel-fade .carousel-indicators li {
    box-shadow: 0px 0px 3px grey;
    margin: 7px; }
  .slideshow-mobile html, .slideshow-mobile body, .slideshow-mobile .carousel, .slideshow-mobile .carousel-inner, .slideshow-mobile .carousel-inner .item {
    height: 100%; }

@media (max-width: 1200px) {
  .texts-wrapper .col-md-6 {
    padding-left: 60px !important; } }

/*# sourceMappingURL=slideshow.css.map */
