/*Colors*/
$dark-blue: #2a2a36;
$medium-blue: #0073B2;
$nextcloud-blue: #0082c9;
$light-grey: #f1f1f1;
$medium-grey: #6c6c6c;
$medium-dark: #555;
$dark-grey: #333333;
$white: #ffffff;
$orange: #FF8B00;
$warning: #FFF054;

/*Shadows*/
$elevation-shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.11);

$color-loading: #969696;
$color-loading-dark: #bbbbbb;

$font-stack: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;

/*Breakpoints*/
$break-small: 768px;
$break-big: 991px;
$break-huge: 1320px;
$very-wide: 1600px;
$navbar-breaksize: 1200px;

@mixin horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertical-center {
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
