$dark-blue: #2a2a36;
$medium-blue: #0073B2;
$nextcloud-blue: #0082c9;
$medium-grey: #555555;
$white: #ffffff;
$font-stack: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif !important;
$break-small: 768px;
$break-big: 991px;
$very-wide: 1600px;
$navbar-breaksize: 1200px;

@mixin horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertical-center {
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}