/* Make Navbar transparent */
.navbar:not(.scrolled) {
  background-color: transparent; }

.navbar:not(.scrolled) .btn-primary {
  background-color: transparent !important;
  border-color: white; }

.section-top-jumbotron {
  height: 531px;
  background-color: #252323; }
  .section-top-jumbotron .container h2 {
    color: white;
    padding-top: 150px; }
  .section-top-jumbotron .container .box {
    background-image: url("../img/box/box_front.png");
    width: 689px;
    height: 569.8px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative; }

.section-data-home {
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center; }
  .section-data-home h2 {
    padding-top: 280px; }
  .section-data-home p {
    font-size: 18px;
    font-weight: 300;
    max-width: 600px;
    padding-top: 20px;
    margin: 0 auto; }
  .section-data-home .btn-primary {
    margin-top: 40px; }

.section-tecnology {
  padding-top: 100px;
  padding-bottom: 200px;
  height: 100%;
  width: 100%;
  background-color: white; }
  .section-tecnology .container {
    border-top: 1px solid #E8E8E8; }
    .section-tecnology .container .box-open {
      background-image: url("../img/box/box-open.png");
      width: 651px;
      height: 476px;
      margin-top: 120px; }
    .section-tecnology .container .wrapper-tex {
      margin-top: 120px; }
      .section-tecnology .container .wrapper-tex h6 {
        font-size: 18px;
        font-weight: 500;
        padding-top: 30px; }

.section-getbox {
  padding-top: 100px;
  height: 400px;
  width: 100%;
  background-color: #252323;
  position: relative; }
  .section-getbox .container .wrapper-tex {
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    .section-getbox .container .wrapper-tex h2 {
      color: white; }
    .section-getbox .container .wrapper-tex p {
      padding-top: 10px; }
    .section-getbox .container .wrapper-tex .btn-primary {
      margin-top: 20px; }
      .section-getbox .container .wrapper-tex .btn-primary:before {
        display: none; }
  .section-getbox .container .box-perspective {
    background-image: url("../img/box/box-perspective.png");
    width: 692px;
    height: 485px;
    background-repeat: no-repeat;
    float: right;
    margin-top: -220px; }

.section-how-to-box {
  padding-top: 100px;
  height: 100%;
  width: 100%;
  background-color: white; }
  .section-how-to-box .container p {
    font-size: 18px;
    font-weight: 300;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center; }
  .section-how-to-box .container .assembly {
    background-image: url("../img/box/assembly.png");
    width: 639px;
    height: 541px;
    background-repeat: no-repeat;
    margin: 0 auto; }
  .section-how-to-box .container .btn-primary {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px; }
    .section-how-to-box .container .btn-primary:before {
      display: none; }

.section-wiki-forums {
  padding-top: 100px;
  height: 100%;
  width: 100%; }
  .section-wiki-forums .container {
    border-top: 1px solid #E8E8E8;
    padding-top: 60px; }
    .section-wiki-forums .container p {
      font-size: 18px;
      font-weight: 300;
      max-width: 650px;
      margin: 0 auto;
      margin-top: 10px; }
    .section-wiki-forums .container .wrapper-buttons {
      text-align: center;
      margin-top: 50px; }
      .section-wiki-forums .container .wrapper-buttons p {
        display: inline-block; }
      .section-wiki-forums .container .wrapper-buttons .btn-primary {
        margin-left: 10px;
        margin-right: 10px; }

.section-partners {
  padding-top: 120px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%; }
  .section-partners .container {
    border-top: 1px solid #E8E8E8;
    padding-top: 60px; }
    .section-partners .container p {
      font-size: 18px;
      font-weight: 300;
      max-width: 650px;
      margin: 0 auto;
      margin-top: 10px; }
    .section-partners .container .wrapper-images {
      text-align: center;
      margin-top: 25px; }
      .section-partners .container .wrapper-images .logo-wd {
        background-image: url("../img/box/wd-logo.png");
        width: 245.8px;
        height: 58.7px;
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px; }
      .section-partners .container .wrapper-images .logo-ubuntu {
        background-image: url("../img/box/ubuntu-logo.png");
        width: 242.5px;
        height: 60px;
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px; }

/*# sourceMappingURL=box.css.map */
