@import "variables.scss";
@import "transparent-navbar.scss";

body {
	background: #eee;
    margin: 0 auto;
    max-width: 1440px;
}

.section-top-jumbotron {
	height: 531px;
	background-color: #252323;

	.container {

		h2{
			color: white;
			padding-top: 150px;
		}

		.box {
			background-image: url("../img/box/box_front.png");
			width: 689px;
			height: 569.8px;
			margin: 0 auto;
		    margin-top: 80px;
		    position: relative;
		}
	}
}

.section-data-home {
	background-color: white;
	height: 100%;
	width: 100%;
	text-align: center;


	h2 {
		padding-top: 280px;
	}

	p {
	    font-size: 18px;
    	font-weight: 300;
    	max-width: 600px;
    	padding-top: 20px;
    	margin: 0 auto;
	}

	.btn-primary {
		margin-top: 40px;
	}
}


.section-tecnology {
	padding-top: 100px;
	padding-bottom:200px;
	height: 100%;
	width: 100%;
	background-color: white;
	
	.line {
		border: 1px solid #E8E8E8;
	}
	
	.container {

		.box-open {
			background-image: url("../img/box/box-open.png");
			width: 651px;
			height: 476px;
			margin-top: 120px;
		}

		.wrapper-tex {
			margin-top: 120px;

			h6 {
				font-size: 18px;
				font-weight: 500;
				padding-top: 30px;
			}
		}
	}
}

.section-getbox {
	padding-top: 100px;
	height: 400px;
	width: 100%;
	background-color: #252323;
	position: relative;

	.container {

		.wrapper-tex {
			color:white;
			@include vertical-center;

			h2 {
				color: white;
			}
			
			p {
				padding-top: 10px;
			}

			.btn-primary {
				margin-top:20px;
				
				&:before {
					display: none;
				}
			}
		}

		.box-perspective {
			background-image: url("../img/box/box-perspective.png");
			width: 692px;
			height: 485px;
		    background-repeat: no-repeat;
		    float: right;
	        margin-top: -220px;
		}
	}
}













