@import "variables.scss";
@import "transparent-navbar.scss";

.section-top-jumbotron {
	height: 531px;
	background-color: #252323;

	.container {

		h2{
			color: white;
			padding-top: 150px;
			line-height: 1.4;
		}

		.box {
			background: url("../img/box/box_front.png") no-repeat;
			width: 689px;
			height: 569.8px;
			margin: 0 auto;
		    margin-top: 80px;
		    position: relative;
		}
	}
}

.section-data-home {
	background-color: white;
	height: 100%;
	width: 100%;
	text-align: center;


	h2 {
		padding-top: 280px;
	}

	p {
    	padding-top: 20px;
    	margin: 0 auto;
	}

	.btn-primary {
		margin-top: 40px;
	}
}

.section-tecnology {
	padding-top: 100px;
	padding-bottom:200px;
	height: 100%;
	width: 100%;
	background-color: white;
	
	.container {
		border-top: 1px solid #E8E8E8;

		.box-open {
			background: url("../img/box/box-open.png") no-repeat;
			width: 651px;
			height: 476px;
			margin-top: 120px;
		}

		.wrapper-text {
			margin-top: 120px;
		}
	}
}

.section-getbox {
	height: 440px;
	width: 100%;
	background-color: #252323;
	position: relative;

	.container {

		.wrapper-text {
			max-width: 550px;
			color:white;
			padding-top: 40px;

			h2 {
				color: white;
			}
			
			p {
				padding-top: 10px;
			}

			.btn-primary {
				margin-top:20px;
				
				&:before {
					display: none;
				}
			}
		}

		.box-perspective {
			background: url("../img/box/box-perspective.png") no-repeat;
			width: 692px;
			height: 485px;
		    background-repeat: no-repeat;
		    float: right;
	        margin-top: -130px;
		}
	}
}

.section-how-to-box {
	padding-top: 120px;
	height: 100%;
	width: 100%;
	background-color: white;

	.container {
		
		.assembly {
			background: url("../img/box/assembly.png") no-repeat;
			width: 639px;
			height: 541px;
		    margin: 0 auto;
		}
		
		.button {
			text-align: center;
			margin: 0 auto;
			margin-top:20px;
			display: table !important;
				
			&:before {
				display: none;
			}
		}
	}
}

.section-wiki-forums {
	padding-top: 100px;
	height: 100%;
	width: 100%;

	.container {
		border-top: 1px solid #E8E8E8;
		padding-top: 60px;

		p {
		    font-size: 18px;
	    	font-weight: 300;
	    	margin: 0 auto;
	    	margin-top: 10px;
		}

		.wrapper-buttons {
			text-align: center;
			margin-top: 50px;


			p {
				display: inline-block;
			}

			.button {
				margin-left: 20px;
				margin-right: 20px;
			}
		
		}
	}
}

.section-partners {
	padding-top: 120px;
	padding-bottom:100px;
	height: 100%;
	width: 100%;

	.container {
		border-top: 1px solid #E8E8E8;
		padding-top: 60px;

		p {
		    font-size: 18px;
			font-weight: 300;
			margin: 0 auto;
			margin-top: 10px;
		}

		.wrapper-images {
			text-align: center;
			margin-top: 25px;
		
			.logo-wd {
			background: url("../img/box/wd-logo.svg") no-repeat;
			width: 245.8px;
			height: 58.7px;
		    display: inline-block;
		    margin-left: 25px;
			margin-right: 25px;
			}

			.logo-ubuntu {
			background: url("../img/box/ubuntu-logo.svg") no-repeat;
			width: 242.5px;
			height: 60px;
		    display: inline-block;
		    margin-left: 10px;
			margin-right: 10px;
			}
		}
	}
}

//Mobile

@media(max-width: $break-big) {
	.section-data-home {
		h2 {
			padding-top: 350px;
		}
	}
	.section-getbox {
		padding-top: 100px;
		height: 450px;

		.container {

			.wrapper-text {
				margin-top: 60px;

				h2 {
					color: white;
				}
				
				p {
					padding-top: 10px;
				}
				.btn-primary {
					margin-top:20px;
					padding: 20px 50px 20px 50px;
					
					&:before {
						display: none;
					}
				}
			}
			.box-perspective {
				width: 346px;
				height: 242px;
			    background-repeat: no-repeat;
			    background-size: contain;
		        margin-top: -200px;
			}
		}
	}
}

@media(max-width: $break-small) {
	.section-top-jumbotron {

		.container {
			height: 100%;

			.box {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				background-size: contain;
				margin-top: 120px;
			}
		}
	}

	.section-data-home {
		h2 {
			padding-top: 180px;
		}
	}

	.section-tecnology {
		padding-top: 60px;
		padding-bottom:150px;
	
		.container {

			.box-open {
				width: 325px;
				height: 238px;
				margin-top: 60px;
				background-size: contain;
			}

			.wrapper-text {
				margin-top: 60px;

				h6 {
					font-size: 18px;
					line-height: 26px;
					font-weight: 500;
					padding-top: 0;
					padding-bottom: 10px;
				}
			}
		}
	}

	.section-getbox {
		padding-top: 100px;
		height: 450px;

		.container {

			.wrapper-text {
				margin-top: 60px;

				h2 {
					color: white;
				}
				
				p {
					padding-top: 10px;
				}

				.btn-primary {
					margin-top:20px;
					padding: 20px 50px 20px 50px;
					
					&:before {
						display: none;
					}
				}
			}

			.box-perspective {
				width: 346px;
				height: 242px;
			    background-repeat: no-repeat;
			    background-size: contain;
		        margin-top: -200px;
			}
		}
	}

	.section-how-to-box {
		padding-top: 50px;

		.container {
			
			.assembly {
				width: 319px;
				height: 270px;
				background-size: contain;
			}
			
			.btn-primary {
				padding: 20px 50px 20px 50px;
			}
		}
	}

	.section-wiki-forums {
	padding-top: 50px;

		.container {
			padding-top: 30px;

			.col-xs-8 .wrapper-buttons {
				text-align: center;
				margin-top: 50px;

				.button {
					margin: 0, 15px;
				}
			}
		}
	}

	.section-partners {
		padding-top: 30px;
		padding-bottom:50px;

		.container {
			padding-top: 30px;

			.wrapper-images {
				text-align: center;
				margin-top: 25px;
			
				.logo-wd {
					width: 122px;
					height: 29px;
				}

				.logo-ubuntu {
					width: 121px;
					height: 30px;
				}
			}
		}
	}
} 

@media (max-width: $break-big) { 
	.col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-xs-8 {
		width: 100%;
	}

	.section-getbox {
		height: auto;
		padding-bottom: 140px;

		.container .row {
			.box-perspective {
				float: left;
				margin-top: 0;
				width: 100%;
				margin-left: -41px;
			}
		}
	}
}








