/*Colors*/
/*Shadows*/
/*Breakpoints*/
/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

/**
 * Enterprise Page
 */
.ebackground {
  background-image: url("../img/enterprise/enterprise.jpg");
  background-position: bottom 0 right 0; }

/* All headers */
.header {
  margin-bottom: 54px;
  /* 	font-family: $font-stack; */
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  text-align: center;
  color: #2a2a36; }

/* Pricing area */
.pricing {
  margin-top: 133px; }
  .pricing .btn-primary {
    text-indent: -20px; }

.table-column {
  cursor: default;
  border-radius: 8px;
  border: solid 1px #eeeeee;
  padding: 0px;
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 50px; }
  @media (max-width: 991px) {
    .table-column {
      width: 80%;
      margin: auto;
      margin-bottom: 60px; } }
  .table-column .table-header {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-radius: 7px 7px 0px 0px; }
    .table-column .table-header h1 {
      text-align: center;
      color: #2a2a36;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.36;
      padding: 0px;
      margin: 0px;
      padding-top: 42px;
      letter-spacing: 0; }
    .table-column .table-header h2 {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      color: #555555;
      line-height: 1.61;
      padding: 0px;
      margin: 0px;
      padding-top: 0px;
      padding-bottom: 29px; }
  .table-column .basic {
    background-color: #f9f9f9; }
  .table-column .standard {
    background-color: #c4e1f7; }
  .table-column .premium {
    background-color: #178ecd; }
    .table-column .premium h1 {
      color: white !important; }
    .table-column .premium h2 {
      color: white !important; }
  .table-column .highlight {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16); }

.table-content {
  margin: 15px;
  padding: 0px;
  margin-left: 30px;
  margin-right: 30px; }
  .table-content h1 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    color: #555555;
    text-align: left;
    letter-spacing: 0;
    margin-top: 25px;
    margin-bottom: 0px; }

.line {
  width: 100%;
  border: solid 1px #eeeeee;
  margin-top: -5px;
  margin-bottom: 15px; }

.list .check {
  /* 	font-family: OpenSans; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #555555; }

.list .check {
  list-style-image: url("../img/enterprise/check.svg");
  list-style-position: inside; }

.list .nocheck {
  /*   font-family: OpenSans; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #b1b1b1; }
  .list .nocheck a {
    color: #b1b1b1;
    text-decoration: none; }

.list .nocheck {
  list-style-image: url("../img/enterprise/nocheck.svg");
  list-style-position: inside; }

.list .optional {
  /*   font-family: OpenSans; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #555555; }

.list .optional {
  list-style-image: url("../img/enterprise/optional.svg");
  list-style-position: inside; }

.list .price {
  /* 	font-family: OpenSans; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #555555; }

.list .price {
  list-style-image: url("../img/enterprise/blank.svg");
  list-style-position: inside; }

.table-content .btn-lg {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-indent: -20px; }

/* Tooltips */
/* Tooltip text */
.overinfo .infotext {
  visibility: hidden;
  /*     width: 200px; */
  background-color: #555555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  line-height: 1.4;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 10;
  padding: 3px;
  /*     top: 100%; */
  /*     left: 50%;  */
  /*     margin-left: -100px; */ }

/* Show the tooltip text when you mouse over the tooltip container */
.overinfo:hover .infotext {
  visibility: visible; }

.overinfo .infotext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555555 transparent; }

.overinfo .infotext {
  opacity: 0;
  transition: opacity 0.5s; }

.overinfo:hover .infotext {
  opacity: 1; }

/* Discount section */
.discounts {
  margin-top: 64px;
  margin-bottom: 30px; }
  .discounts a {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: center;
    color: #178ecd; }
  .discounts .box {
    border: solid 1px transparent;
    margin-bottom: 50px; }
    .discounts .box:hover {
      box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
      border: solid 1px #fbfbfb;
      border-radius: 8px;
      transition: all 0.5s ease; }
    .discounts .box h1 {
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      text-align: center;
      color: #2a2a36; }
    .discounts .box p {
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      text-align: center;
      color: #434343; }
      .discounts .box p:last-of-type {
        margin-bottom: 30px; }
    .discounts .box .img-responsive {
      margin-left: auto;
      margin-right: auto;
      margin-top: 36px;
      margin-bottom: 17px; }

/* Discount section */
.faq {
  background: #0082c9;
  padding-bottom: 50px; }
  .faq .container {
    background: white;
    margin-bottom: 90px;
    padding-left: 0px;
    padding-right: 0px; }
    .faq .container .row {
      padding: 30px;
      margin: 40px;
      margin-right: 60px; }
      @media (max-width: 768px) {
        .faq .container .row {
          padding-left: 10px;
          padding-right: 10px;
          margin-left: 10px;
          margin-right: 10px;
          margin-right: 30px; } }

.faq h3 {
  /*   font-family: OpenSans; */
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  text-align: left;
  color: #555555; }

.faq h1 {
  /* 	font-family: OpenSans; */
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 80px; }

.faq p {
  /* 	font-family: OpenSans; */
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  text-align: left;
  color: #555555; }

.faq .downarrow a {
  color: #555555; }

.faq .downarrow a:hover {
  text-decoration: none; }

.faq .line {
  width: 100%;
  height: 1px;
  border: solid 1px #eeeeee; }

.downarrow {
  position: relative; }

.downarrow span.icon-arrow-down {
  background: url(../img/arrow_down.svg) center/contain no-repeat;
  position: absolute;
  width: 25px;
  height: 100%;
  right: -30px;
  top: 0px; }

.epricevat {
  font-weight: light;
  font-size: .7em;
  text-align: right;
  padding: 0px;
  margin-top: -5px; }

.einfo span:hover {
  border-bottom: 1px dotted gray;
  /* 	cursor: pointer; */ }

.table-center {
  text-align: center !important; }

.enterprise-icon {
  font-size: 80px;
  color: #0082c9; }

.blue {
  color: #0082c9; }

.price {
  color: #0082c9;
  font-weight: 80%;
  text-align: center; }

.ebasic {
  background-color: #d9f2ff !important; }

.epro {
  background-color: #c6ecff !important; }

.eenterprise {
  background-color: #ace4ff !important; }

.eintro {
  font-size: 115%; }

.pricingdetails > h2 {
  margin-top: 150px;
  margin-bottom: 80px; }

.contact {
  margin-top: 50px;
  margin-bottom: 50px; }

.contact > h3 {
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: left; }

/*# sourceMappingURL=buy.css.map */
