@import "variables.scss";
@import "transparent-navbar.scss";

.conf-background {
  background: url("../img/headers/conf.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}


.section--intro {
	padding: 100px 0;
	text-align: center;

	.section--paragraph__tittle {
	padding: 5px 0 0 0;
	}

	.section--paragraph {
		padding: 5px 0 15px 0;
	}
}


.section--fridayfocus {
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  background-image: url('../img/conference/workshop.jpg');
  background-size: cover;
  background-position: center;
/*   @media (max-width: $break-small) { */
/*     background-image: url('../img/home/perfect-for-home-and-business-mobile.jpg'); */
/*   } */

  .btn-primary {
    width: 430px;
  }

  @media (min-width: $very-wide) {
    padding-top: 120px;
    padding-bottom: 180px;
  }

  @media (max-width: $break-small) {
    .btn-primary {
      width: 300px;

      .icon-arrow {
        background: url(../img/arrow_right.svg) center/contain no-repeat;
        position: absolute;
        width: 20px;
        height: 100%;
        right: 20px;
        top: 2px;
      }
    }
  }

  .section--heading-1 {
    width: 469px;
    color: white;

    @media (max-width: $break-small) {
      color: white;
      width: 100%;
    }
  }

  .section--paragraph {
    color: #ffffff;
    width: 469px;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: $break-small) {
      width: 90%;
      padding-top: 10px;
    }
  }
}

.section--info {
	padding: 50px 0;
	.icon {
	text-align: center;
	i {
		font-size: 80px;
	}
	}
	.row {
		padding: 50px 0 20px 0;
	}
}

.section--call-for-papers {
	margin: 50px 0 50px 0;
	padding: 50px 0px;
	background: $nextcloud-blue;
	p {
		color: white;
	}
	.hyperlink {
		color: white;
	}
}

.section--details {
		.row {
		padding: 50px 0 20px 0;
	}
}

.section--about {
		.row {
		padding: 50px 0 100px 0;
	}
}
