@import "variables.scss";
@import "transparent-navbar.scss";

.contribute-background {
  background: url("../img/headers/team.jpg") no-repeat;
  background-position: center;
}

.section--contribute {
	padding-top: 80px;
	display: inline-block;

	.section--heading-1 {
		padding: 80px 0 30px 0;
	}

	.section--intro {
		font-weight: 600;
		padding-top: 30px;
        color: $dark-blue;

		@media (max-width: $break-small) {
			text-align: left !important;
		}
	}
}

.calltoaction {
	margin-top: 50px;
	background-color: $nextcloud-blue;
	padding: 50px 0;
	color: white;

	.section--heading-2 {
		color: white;
	}

	.section--paragraph {
		color: white;
	}

	.hyperlink {
		color: white;
	}
}

