@import "variables.scss";
@import "transparent-navbar.scss";

.contribute-background {
  background: url("../img/headers/team.jpg") no-repeat;
  background-position: center;
}

.section--contribute {
	display: inline-block;
}

