@import "variables.scss";
@import "home.scss";
@import "header.scss";
@import "footer.scss";

html{
    margin-top: 0 !important;
}

body {
  font-family: "Open Sans", Frutiger, Calibri, "Myriad Pro", Myriad, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


/**
 * Headers
 */
h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -2px;
  color: #2a2a36;
  font-weight: 500; }

h2 {
  font-size: 60px;
  font-weight: 300;
  line-height: 0.9;
  color: #2a2a36; 
}

h3 {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #2a2a36; 
}

h4 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.36;
  color: #2a2a36;
  margin-bottom: 20px; 
}

h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #2a2a36; 
}

/**
 * Overwrite buttons for bootstrap
 */
.btn-primary{
	background-color: $nextcloud-blue;
	font-size: 18px;
	padding: 25px 100px;
	text-align: center;
	position: relative;
	border: none;
	font-weight: 600;
	border-radius: 100px;
	transition: all 0.3s ease 0s;
	
	&:before {
        content: "";
		background: url(../img/arrow_right.svg) center/contain no-repeat;
	    position: absolute;
		display: block;
		width: 30px;
		height: 100%;
    	top: 0;
		right: 50px;
		transition: all 0.3s ease 0s;
    }
	
	&:hover {
		background-color: $medium-blue;
		text-decoration: none;
		
		&:before {
			right: 30px;	
		}
	}
	
	&:active {
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        background-color: $medium-blue;
    }
}

@media (max-width: $break-small) {
	
	.btn-primary{
		padding: 20px 70px 20px 50px;
		font-size: 15px;
		
		&:before {
			right:30px;
		}
	}

}


/**
 * Mobile
 */

@media (max-width: $break-small) {
    h1 {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2px;
        color: $dark-blue;
        font-weight: 500;
    }
    
    h2 {
        font-size: 35px;
        font-weight: 300;
        line-height: 1.5;
        color: $dark-blue;
    }
    
    h3 {
        font-size: 35px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        color: $dark-blue;
    }
    
    h4 {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.36;
        color: $dark-blue;
        margin-bottom: 20px;
    }
    
    h5 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: -1px;
        color: $dark-blue;
    }

}

.highlights {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -16px 0 0 -16px;
    padding: 0;
    list-style: none;
    @media (max-width: 1024px) {
        display: block;
        text-align: center;
        margin: 0 10px 0 10px;
    }

}

.highlights_align {
    padding-top: 100px;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding-left: 64px;
    &:first-child {
        padding-left: 0px;
    }
    @media (max-width: 1024px) {
        flex-basis: auto;
        max-width: none;
        padding-left: 0;
        padding-top: 50px;
    }

    svg {
        margin-left: -10px;
        @media (max-width: 1200px) {
            margin-left: 0;
        }
    }

    h4 {
        text-align: center;
        margin-top: 20px;
        margin-left: -20px;
        @media (max-width: 1200px) {
            margin-left: 0;
        }
    }
}


FadeIn{
	
}
