@import "variables.scss";
@import"home.scss";
@import"header.scss";

html{
    margin-top: 0 !important;
}

body {
  font-family: "Open Sans", Frutiger, Calibri, "Myriad Pro", Myriad, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


/**
 * Headers
 */
h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -2px;
  color: #2a2a36;
  font-weight: 500; }

h2 {
  font-size: 60px;
  font-weight: 300;
  line-height: 0.9;
  color: #2a2a36; 
}

h3 {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #2a2a36; 
}

h4 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.36;
  color: #2a2a36;
  margin-bottom: 20px; 
}

h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #2a2a36; 
}

/**
 * Footer
 */
footer {
  background-color: #2a2a36;
    
    h1 {
        margin-top: 70px;
        font-size: 19px;
        font-weight: bold;
        line-height: 1.8;
        letter-spacing: -0.9px;
        color: #8e8e8e;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0; 
    }
    
    li {
        font-size: 15px;
        line-height: 1.8;
        color: #ffffff;
        width: 140px; 
             
            a {
                color: #ffffff; 
                &:hover {
                     color: #ffffff;
                 }
            }
        }

	p {
        padding-top: 50px;
        padding-bottom: 30px;
		font-size: 15px;
        line-height: 1.8;
        color: #ffffff;
        @media (max-width: $break-small) {
            float: left;
            padding-left: 15px;
        }
                 
            a {
                color: #ffffff; 
                &:hover {
                     color: #ffffff;
                 }
            }
        }
        @media (max-width: $break-small) {
	  .container {
	    width: 90%;
	  }
	}
}


/**
 * Overwrite button colors
 */
.btn-primary {
    background-color: $nextcloud-blue;
    overflow: hidden;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    padding-top: 18px;
    height: 60px;
    font-size: 18px;
/*     font-family: 'Lato', sans-serif; */
    text-align: center;
    transition: all 0.3s ease 0s;
	min-width: 150px;
    &:hover {
        background-color: $medium-blue !important;
    }

    &:active {
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        background-color: $medium-blue;
    }

    &.btn-absolute-icon {
        position: relative;
        text-indent: -20px;

        .icon-arrow {
            background: url(../img/arrow_right.svg) center/contain no-repeat;
            position: absolute;
            width: 30px;
            height: 100%;
            right: 50px;
            top: 0;
        }
    }
}

/**
 * Mobile
 */

@media (max-width: $break-small) {
    h1 {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2px;
        color: $dark-blue;
        font-weight: 500;
    }
    
    h2 {
        font-size: 35px;
        font-weight: 300;
        line-height: 1.5;
        color: $dark-blue;
    }
    
    h3 {
        font-size: 35px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        color: $dark-blue;
    }
    
    h4 {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.36;
        color: $dark-blue;
        margin-bottom: 20px;
    }
    
    h5 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: -1px;
        color: $dark-blue;
    }
    
    footer {
        height: 100%;
        padding-top: 40px;
        padding-bottom: 40px;

        h1 {
            margin-top:30px;
            font-size: 19px;
            font-weight: bold;
            line-height: 1.8;
            letter-spacing: -0.9px;
            color: #8e8e8e;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            font-size: 15px;
            line-height: 1.8;
            color: #ffffff;
            width: 140px;
        }
    }

}

.highlights {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -16px 0 0 -16px;
    padding: 0;
    list-style: none;
    @media (max-width: 1024px) {
        display: block;
        text-align: center;
        margin: 0 10px 0 10px;
    }

}

.highlights_align {
    padding-top: 100px;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding-left: 64px;
    &:first-child {
        padding-left: 0px;
    }
    @media (max-width: 1024px) {
        flex-basis: auto;
        max-width: none;
        padding-left: 0;
        padding-top: 50px;
    }

    svg {
        margin-left: -10px;
        @media (max-width: 1200px) {
            margin-left: 0;
        }
    }

    h4 {
        text-align: center;
        margin-top: 20px;
        margin-left: -20px;
        @media (max-width: 1200px) {
            margin-left: 0;
        }
    }
}

