@import "variables.scss";

/**
 * Home page background
 */

.container-fluid .background {
	width: 20%;
}

.background {
    background-image: url("../img/enterprise/enterprise.jpg"),linear-gradient(to bottom, $nextcloud-blue, #3e9ed8 100%, #d8d8d8);
	padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: cover;
    border-radius: 0 !important;
	height: 70vh;
    min-height: 600px;
	max-height: 800px;
	font-family: $font-stack;
}
.background h1 {
/* 	margin-top: 243px; */
  padding-top: 0;
  color: white;
}
.background h2 {
    color: white;
    font-size: 18px;
    line-height: 1.6;
}
.background .btn-primary {
    margin-top: 50px;
    width: 70%;
}

.background .container-fluid img {
    height: 100%;
    width: 100%;
}

.background > .container {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
	margin-left: 20%;
	@media (max-width: $break-big) {
	margin-left: 15%;
	}
	@media (max-width: $break-small) {
	margin-left: 5%;
	}
}

.background > .container > .topheader {
}

.background > .container > .topheader > p > a {
    width: 290px;
    height: 60px;
    padding-top: 16px
}

.container-fluid > .background {
    padding-left: 0;
    padding-right: 0;
}


/* All headers */

.header {
	margin-bottom: 54px;
	font-family: $font-stack;
	font-size: 60px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.88;
	text-align: center;
	color: #2a2a36;
}

/* Pricing area */

.pricing {
	margin-top: 133px;
/* 	width: 1170px; */
}

.table-column {
	border-radius: 8px;
	border: solid 1px #eeeeee;
	padding: 0px;
/* 	margin-left: 52px; */
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 50px;
	@media (max-width: $break-big) {
	width: 98%;
	}
}

.table-header {
	padding: 0px; 
	margin: 0px;
	width: 100%;
	border-radius: 7px 7px 0px 0px;
}

.table-header > h1 {
	text-align: center;
	color: #2a2a36;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.36;
	padding: 0px;
	margin: 0px;
	padding-top: 42px;
}

.table-header > h2 {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	color: #555555;
	line-height: 1.61;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 29px;
}

.basic {
	background-color: #f9f9f9;
}

.standart {
	background-color: #c4e1f7;
}

.premium {
	background-color: #178ecd;
}

.premium > h1 {
	color: white;
}

.premium > h2 {
	color: white;
}

.table-content {
	margin: 15px;
	padding: 0px;
  margin-left: 30px;
  margin-right: 30px;
}

.table-content > h1 {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  color: #555555;
  text-align: left;
}

.line {
	width: 90%;
	height: 2px;
	border: solid 2px #eeeeee;
}

.list .check {
	font-family: OpenSans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	color: #555555;
}

.list .check {
	list-style-image: url("../img/enterprise/check.svg");
}

.list .nocheck {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #b1b1b1;
}

.list .nocheck {
	list-style-image: url("../img/enterprise/nocheck.svg");
}

.table-content .btn-lg {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
}

/* Discount section */

.discounts {
	margin-top: 64px;
	margin-bottom: 30px;
}

.discounts .box {
  border: solid 1px transparent;
  margin-bottom: 50px;
}

.discounts .box:hover {
  box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #fbfbfb;
}

.discounts .box > h1 {
	font-family: OpenSans;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  text-align: center;
  color: #2a2a36;
}

.discounts .box > p {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  text-align: center;
  color: #434343;
}

.discounts .box .img-responsive {
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
	margin-bottom: 17px;
}

.discounts a {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  text-align: center;
  color: #178ecd;
}


.faq {
	background: $nextcloud-blue;
	margin-bottom: 50px;
}

.faq .container {
	background: white;
	margin-bottom: 90px;
}

.faq .container .row {
	padding: 20px;
	margin: 30px;
}

.faq h3 {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  text-align: left;
  color: #555555;
}

.faq h1 {
	font-family: OpenSans;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 80px;
  
}

.faq p {
	font-family: OpenSans;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  text-align: left;
  color: #555555;
}

.faq .line {
	width: 100%;
	height: 1px;
	border: solid 1px #eeeeee;
}

.downarrow {
	position: relative;
}

.downarrow span.icon-arrow-down {
	background: url(../img/arrow_down.svg) center/contain no-repeat;
	position: absolute;
	width: 25px;
	height: 100%;
	right: 15px;
	top: 0px;
}

/*@media (max-width: $break-small) {
    .background {
        background-image: url("../img/enterprise/enterprise.jpg");
        background-size: 100% auto, cover;
    }

    .background h1 {
        width: 250px;
        letter-spacing: -1px;
        font-size: 35px;
        line-height: 1.2;
    }

    .background h2 {
        font-size: 16px;
        line-height: 1.6;
        width: 250px;
    }

    .background > .container-fluid > .col-md-6 > p > a {
        width: 160px;
        height: 60px;
        padding-top: 22px;
        font-size: 14px;
        
        &.btn-absolute-icon {

        .icon-arrow {
            background: url(../img/arrow_right.svg) center/contain no-repeat;
            position: absolute;
            width: 20px;
            height: 100%;
            right: 20px;
            top: 2px;
        }
    }
    }
}*/

