/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

/* gradient behind transparent nav */
.nav:not(.scrolled) {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }

.separator {
  height: 40px;
  background: #f6f6f6; }

.enterprise-hero-section .background {
  background-color: #0082c9;
  background-image: none;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: cover;
  border-radius: 0 !important;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;
  background-image: url("../img/enterprise/hero__enterprise.jpg"); }
.enterprise-hero-section .topbanner {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0px;
  float: right;
  overflow: hidden;
  zoom: 0.55; }

.what-you-get-section .container {
  padding-top: 8.54297em;
  padding-bottom: 8.54297em; }
  .what-you-get-section .container p {
    max-width: 43.24878em;
    margin: 0 auto; }
  .what-you-get-section .container ul {
    max-width: 43.24878em;
    margin: 0 auto;
    margin-top: 40px; }
    .what-you-get-section .container ul .check {
      font-size: 22px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.0;
      color: #555555;
      list-style-image: url("../img/enterprise/check.svg");
      list-style-position: inside; }

.section--expertise .container {
  padding-top: 8.54297em;
  padding-bottom: 8.54297em; }
  .section--expertise .container .section--intro {
    max-width: 43.24878em;
    margin: 0 auto; }
  .section--expertise .container .expertise__ilustration {
    background: url(../img/enterprise/ilustration_matterexperts-new.svg) no-repeat center/contain;
    width: 950px;
    height: 500px;
    max-width: 100%;
    max-height: 60vw;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px; }

.section--security .container {
  padding-top: 8.54297em;
  padding-bottom: 8.54297em; }
  .section--security .container .section--intro {
    max-width: 43.24878em;
    margin: 0 auto; }
  .section--security .container .security__ilustration {
    background: url(../img/enterprise/security-new.svg) no-repeat center/contain;
    width: 850px;
    height: 500px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 50vw;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px; }

.section--lifecycle .container {
  padding-top: 8.54297em;
  padding-bottom: 8.54297em; }
  .section--lifecycle .container .section--intro {
    max-width: 43.24878em;
    margin: 0 auto; }
  .section--lifecycle .container .lifecycle__ilustration {
    background: url(../img/enterprise/data_safe-new.svg) no-repeat center/contain;
    width: 950px;
    height: 500px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 50vw;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px; }

/*# sourceMappingURL=enterprise.css.map */
