@import "variables.scss";
@import "transparent-navbar.scss";


/**
 * Enterprise Page
 */
.background {
  background-color: $nextcloud-blue;
  background-image: none;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: cover;
  border-radius: 0 !important;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;
}

.what-you-get {
  .container {
    padding-top: 140px;

    p {
      font-size: 18px;
      font-weight: 300;
      max-width: 600px;
      padding-top: 20px;
      margin: 0 auto;
    }
  }
}

/**
 h1 {
    padding-top: 0;
    color: white;
  }

  h2 {
    color: white;
    font-size: 18px;
    line-height: 1.6;
  }

  .btn-primary {
    margin-top: 50px;
    width: 70%;
  }

  .container {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin-left: 5%;
    padding: 0;
    
	  .topheader {
      	padding: 0;
      
		a{
			width: 290px;
			height: 60px;
			padding-top: 16px
      }
    }
  }

  .container-fluid{
    
	  img {
      	height: 100%;
      	width: 100%;
    }
  }
}


.header {
  margin-bottom: 54px;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  text-align: center;
  color: #2a2a36;
}

// Introduction 
.intro {
  padding-top: 50px;
  padding-bottom: 50px;

    h1 {
      text-align: left;
      color: #2a2a36;
      font-size: 60px;
      padding: 0px;
      margin: 0px;
      letter-spacing: 0;
	  padding-bottom: 50px;
    }

    h2 {
      font-weight: bold;
      text-align: left;
      font-size: 26px;
      font-weight: 300;
      color:  $nextcloud-blue;
      line-height: 1.61;
    }
    p {
      text-align: left;
      font-size: 22px;
      font-weight: 300;
      color:  #555555;
      line-height: 1.61;
//	  padding-bottom: 30px; 
	}

}

// Pricing area 

.pricing {
  margin-top: 133px;
  
  .btn-primary {
    text-indent: -20px;
  }
}

.table-column {
  cursor: default;
  border-radius: 8px;
  border: solid 1px #eeeeee;
  padding: 0px;
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 50px;
  @media (max-width: $break-big) {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
  }
  .table-header {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-radius: 7px 7px 0px 0px;

    h1 {
      text-align: center;
      color: #2a2a36;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.36;
      padding: 0px;
      margin: 0px;
      padding-top: 42px;
      letter-spacing: 0;
    }

    h2 {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      color: #555555;
      line-height: 1.61;
      padding: 0px;
      margin: 0px;
      padding-top: 0px;
      padding-bottom: 29px;
    }
  }

  .basic {
    background-color: #f9f9f9;
  }

  .standard {
    background-color: #c4e1f7;
  }

  .premium {
    background-color: #178ecd;

    h1 {
      color: white !important;
    }

    h2 {
      color: white !important;
    }
  }

  .highlight {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16);
  }
}

.table-content {
  margin: 15px;
  padding: 0px;
  margin-left: 30px;
  margin-right: 30px;

  h1 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    color: #555555;
    text-align: left;
    letter-spacing: 0;
    margin-top: 25px;
    margin-bottom: 0px;
  }
}

.line {
  width: 100%;
  border: solid 1px #eeeeee;
  margin-top: -5px;
  margin-bottom: 15px;
}

.list .check {
  // 	font-family: OpenSans; 
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #555555;
}

.list .check {
  list-style-image: url("../img/enterprise/check.svg");
  list-style-position:inside;
}

.list .nocheck {
  //  font-family: OpenSans; 
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #b1b1b1;
  
  a {
  color: #b1b1b1;
  font-decoration: none;
  }
}

.list .nocheck {
  list-style-image: url("../img/enterprise/nocheck.svg");
  list-style-position:inside;
}


.list .optional {
  //  font-family: OpenSans; 
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #555555;
}

.list .optional {
  list-style-image: url("../img/enterprise/optional.svg");
  list-style-position:inside;
}

.list .price {
  // 	font-family: OpenSans; 
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #555555;
}

.list .price {
  list-style-image: url("../img/enterprise/blank.svg");
  list-style-position:inside;
}


.table-content .btn-lg {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	text-indent: -20px;
}

// Tooltips 

// Tooltip container 
.overinfo {
}

// Tooltip text 
.overinfo .infotext {
    visibility: hidden;
//    width: 200px; 
    background-color: #555555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
	line-height: 1.4;
border-radius: 6px;
 
    // Position the tooltip text 
    position: absolute;
    z-index: 10;
	padding: 3px;
//     top: 100%; 
//     left: 50%;  
//     margin-left: -100px; 
}

// Show the tooltip text when you mouse over the tooltip container 
.overinfo:hover .infotext {
    visibility: visible;
}

.overinfo .infotext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  // At the top of the tooltip 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555555 transparent;
}

.overinfo .infotext {
    opacity: 0;
    transition: opacity 0.5s;
}

.overinfo:hover .infotext {
    opacity: 1;
}

// what you get 
.youget {
	background: $nextcloud-blue;
	padding-bottom: 50px;
	
	h1 {
		font-size: 60px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.88;
		color: white;
		margin-top: 100px;
		margin-bottom: 80px;
		text-align: center;
	}

	.container {
		background: white;
		margin-bottom: 90px;
		padding: 70px;
		padding: 70px;

		.row {
			margin-top: 100px;
		}
		
		h3 {
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.45;
			text-align: left;
			color: #555555;
		}

		p {
			font-size: 18px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.61;
			text-align: left;
			color: #555555;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		h2 {
			margin-top: 50px;
			margin-bottom: 30px;
		}


		.details {
			text-align: center;
			border: solid 1px transparent;
			margin-bottom: 50px;
			&:hover{
				box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
				border: solid 1px #fbfbfb;
				border-radius: 8px;
				transition: all 0.5s ease;
			}
			
			a:hover {
				text-decoration: none;
			}
			
			.img-responsive {
				margin-left: auto;
				margin-right: auto;
				margin-top: 36px;
				margin-bottom: 17px;
			}
		}
	}
}
 
.explore {
	padding: 50px;
	margin-bottom: 100px;
	h1 {
		font-size: 60px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.4;
		color: #555555;
		margin-top: 100px;
		margin-bottom: 80px;
		text-align: center;
	}
	.explorebutton {
		margin-left: 35%;
	}
	
	span.avoidwrap {
		display:inline-block;
	}
}

// Discount section 

.discounts {
  margin-top: 64px;
  margin-bottom: 30px;
  a {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: center;
    color: #178ecd;
  }

  .box {
    border: solid 1px transparent;
    margin-bottom: 50px;
    &:hover{
      box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.14);
      border: solid 1px #fbfbfb;
      border-radius: 8px;
      transition: all 0.5s ease;
    }

    h1 {
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      text-align: center;
      color: #2a2a36;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      text-align: center;
      color: #434343;
      &:last-of-type {
        margin-bottom: 30px;
      }
    }
    .img-responsive {
      margin-left: auto;
      margin-right: auto;
      margin-top: 36px;
      margin-bottom: 17px;
    }
  }
}

// FAQ section 
.faq {
  background: $nextcloud-blue;
  padding-bottom: 50px;

  .container {
    background: white;
    margin-bottom: 90px;
    padding-left: 0px;
    padding-right: 0px;

    .row {
      padding: 30px;
      margin: 40px;
      margin-right: 60px;
      @media (max-width: $break-small) {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-right: 30px;
      }
    }
  }
}

.faq h3 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  text-align: left;
  color: #555555;
}

.faq h1 {
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;

}

.faq p {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  text-align: left;
  color: #555555;
}

.faq .downarrow a {
		color: #555555;
}

	
.faq .downarrow a:hover {
		text-decoration: none;
}

.faq .line {
  width: 100%;
  height: 1px;
  border: solid 1px #eeeeee;
}

.downarrow {
  position: relative;
}

.downarrow span.icon-arrow-down {
  background: url(../img/arrow_down.svg) center/contain no-repeat;
  position: absolute;
  width: 25px;
  height: 100%;
  right: -30px;
  top: 0px;
}

*/
