@import "variables.scss";
@import "transparent-navbar.scss";
@import 'vendor/modular-scale/modular-scale.scss';


/**
 * Enterprise Page
 */

.enterprise-hero-section {
   .background {
    background-color: $nextcloud-blue;
    background-image: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: cover;
    border-radius: 0 !important;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
  }

  .topbanner {
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0px;
    float: right;
    overflow: hidden;
    zoom: 0.55;
  }
}

.enterprise-menu {
	  .menu {
	background: #fbfbfb;
	height: 70px;
	border-bottom: solid 1px #e4e4e4;
  border-top: solid 1px #e4e4e4;
	text-transform: uppercase;
	vertical-align: middle;
  z-index: 5;

	.buttons {
		font-weight: 600;
		margin-top: 23px;
		
    a {
			padding-right: 10px;
			color: gray;
			
      &:focus {
				text-decoration: none;
				color: black;
			}

			&:hov &:active {
				text-decoration: none;
				color: black;
			}

			&:hover {
				text-decoration: none;
				color: black;
			}
		}

		.btn-primary {
			float: right;
			font-size: 14px;
			padding: 8px 20px;
			margin-left: 20px;
			margin-top: -5px;
			color: white;

			&:hover {
				text-decoration: none;
				color: white;
			}

			&:before {
				background: none;
		}
		}
	}
   }
}

.what-you-get-section {
    background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 150px);
    background: linear-gradient(to bottom, #fff 0, #f6f6f6 150px);
    background: -webkit-linear-gradient(to bottom, #fff 0, #f6f6f6 150px);
  
  .container {
    padding-top: ms(5);
    padding-bottom: ms(5);
    
    p {
      max-width: ms(9);
      margin: 0 auto;
    }
    
    ul {
      max-width: ms(9);
      margin: 0 auto;
      margin-top: 40px;

      .check {
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.0;
        color: #555555;
        list-style-image: url("../img/enterprise/check.svg");
        list-style-position:inside;
      }
    }
  }
}

.section--expertise {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px);
  
  .container {
    padding-top: ms(5);
    padding-bottom: ms(5);

    .section--intro {
      max-width: ms(9);
      margin: 0 auto;
    }

    .expertise__ilustration {
      background: url(../img/enterprise/ilustration_matterexperts.svg) no-repeat center/contain;
      width: 878px;
      height: 612px;
      margin: 0 auto;
      position: relative;
    }
  }
}

.section--security {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px);
  
  .container{
    padding-top: ms(5);
    padding-bottom: ms(5);

    .section--intro {
      max-width: ms(9);
      margin: 0 auto;
    }

    .security__ilustration {
      background: url(../img/enterprise/security.svg) no-repeat center/contain;
      width: 672px;
      height: 640px;
      margin: 0 auto;
      position: relative;
    }
  }
}

.section--lifecycle {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px);
  
  .container{
    padding-top: ms(5);
    padding-bottom: ms(5);

    .section--intro {
      max-width: ms(9);
      margin: 0 auto;
    }

    .lifecycle__ilustration {
      background: url(../img/enterprise/data_safe.svg) no-repeat center/contain;
      width: 562px;
      height: 660px;
      margin: 0 auto;
      margin-left: 248px; //This put the image on the visual center
      position: relative;
    }
  }
}


/* FAQ section  */
.faq {
  background: $nextcloud-blue;
  padding-bottom: 50px;

  .container {
    background: white;
    margin-bottom: 90px;
    padding-left: 0px;
    padding-right: 0px;

    .row {
      padding: 30px;
      margin: 40px;
      margin-right: 60px;
      @media (max-width: $break-small) {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-right: 30px;
      }
    }
  }
}

.faq h3 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  text-align: left;
  color: #555555;
}

.faq h1 {
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;

}

.faq p {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  text-align: left;
  color: #555555;
}

.faq .downarrow a {
		color: #555555;
}

	
.faq .downarrow a:hover {
		text-decoration: none;
}

.faq .line {
  width: 100%;
  height: 1px;
  border: solid 1px #eeeeee;
}

.downarrow {
  position: relative;
}

.downarrow span.icon-arrow-down {
  background: url(../img/arrow_down.svg) center/contain no-repeat;
  position: absolute;
  width: 25px;
  height: 100%;
  right: -30px;
  top: 0px;
}


