/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

/**
 * Enterprise Page
 */
.enterprise-hero-section .background {
  background-color: #0082c9;
  background-image: none;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: cover;
  border-radius: 0 !important;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;
  background-image: url("../img/enterprise/hero__enterprise.jpg"); }
.enterprise-hero-section .topbanner {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0px;
  float: right;
  overflow: hidden;
  zoom: 0.55; }

.what-you-get-section {
  background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 150px);
  background: linear-gradient(to bottom, #fff 0, #f6f6f6 150px);
  background: -webkit-linear-gradient(to bottom, #fff 0, #f6f6f6 150px); }
  .what-you-get-section .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .what-you-get-section .container p {
      max-width: 43.24878em;
      margin: 0 auto; }
    .what-you-get-section .container ul {
      max-width: 43.24878em;
      margin: 0 auto;
      margin-top: 40px; }
      .what-you-get-section .container ul .check {
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.0;
        color: #555555;
        list-style-image: url("../img/enterprise/check.svg");
        list-style-position: inside; }

.section--expertise {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px); }
  .section--expertise .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .section--expertise .container .section--intro {
      max-width: 43.24878em;
      margin: 0 auto; }
    .section--expertise .container .expertise__ilustration {
      background: url(../img/enterprise/ilustration_matterexperts-new.svg) no-repeat center/contain;
      width: 950px;
      height: 700px;
      max-width: 100%;
      max-height: 60vw;
      margin: 0 auto;
      position: relative; }

.section--security {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px); }
  .section--security .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .section--security .container .section--intro {
      max-width: 43.24878em;
      margin: 0 auto; }
    .section--security .container .security__ilustration {
      background: url(../img/enterprise/security-new.svg) no-repeat center/contain;
      width: 850px;
      height: 700px;
      margin: 0 auto;
      max-width: 100%;
      max-height: 50vw;
      position: relative; }

.section--lifecycle {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px); }
  .section--lifecycle .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .section--lifecycle .container .section--intro {
      max-width: 43.24878em;
      margin: 0 auto; }
    .section--lifecycle .container .lifecycle__ilustration {
      background: url(../img/enterprise/data_safe-new.svg) no-repeat center/contain;
      width: 950px;
      height: 700px;
      margin: 0 auto;
      max-width: 100%;
      max-height: 50vw;
      position: relative; }

/* Features section */
/*.Section-Features-Nextcloud {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px);
  overflow: hidden;
  height: 200vh;
  position: relative;
	padding-top: ms(5);
    padding-bottom: ms(5);
  @media (max-width: $navbar-breaksize) {
    padding-top: 60px;
    height: 100vh;
  }

  h2{
    font-size: 60px;
  }

  .img_carousel {
    padding-top: 100px;
    position:relative;
    @media (max-height: 800px) {
      padding-top: 60px;
    }

    img {
      float: right;
      width: 582px;
      height: 474px;
      @media (max-height: 800px) {
        width: 490px;
        height: 402px;
      }
    }
  }

  .indicators {
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 1;
    position: absolute;
    z-index: 2;
    bottom: 50vh;
    right: 0;
    @media (max-width: $break-small) {
      display: none;
    }

    .btn_carousel{
      margin-top: 10px;
      width: 14px;
      height: 14px;
      color: transparent;
      border: 1px solid $nextcloud-blue;
      background-color: $nextcloud-blue;
      border-radius: 50%;
      padding: 0;
      -webkit-transform: scale(.5);
      -ms-transform: scale(.5);
      transform: scale(.5);
      -webkit-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    }

    .btn_carousel.active{
      background-color: transparent;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}*/
/* Hide slideshow on small screens */
@media (max-width: 1200px) {
  .slideshow {
    display: none; } }

.slideshow-mobile {
  /* 	hide on non-mobile */
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  height: 600px; }
  @media (min-width: 1200px) {
    .slideshow-mobile {
      display: none; } }
  @media (max-width: 768px) {
    .slideshow-mobile {
      height: 800px; }
      .slideshow-mobile img {
        max-height: 400px;
        width: auto;
        margin-left: auto;
        margin-right: auto; } }
  .slideshow-mobile .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity; }
  .slideshow-mobile .carousel-fade .carousel-inner .active {
    opacity: 1; }
  .slideshow-mobile .carousel-fade .carousel-inner .active.left,
  .slideshow-mobile .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1; }
  .slideshow-mobile .carousel-fade .carousel-inner .next.left,
  .slideshow-mobile .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  .slideshow-mobile .carousel-fade .carousel-control {
    z-index: 2;
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50); }
    @media (max-width: 768px) {
      .slideshow-mobile .carousel-fade .carousel-control {
        top: 20%; } }
    .slideshow-mobile .carousel-fade .carousel-control .glyphicon {
      /* 				margin-top: -15px; */
      margin: -15px;
      font-size: 30px; }
  .slideshow-mobile .carousel-fade .carousel-indicators li {
    box-shadow: 0px 0px 3px grey;
    margin: 7px; }
  .slideshow-mobile html, .slideshow-mobile body, .slideshow-mobile .carousel, .slideshow-mobile .carousel-inner, .slideshow-mobile .carousel-inner .item {
    height: 100%; }

/*# sourceMappingURL=enterprise.css.map */
