/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

/**
 * Enterprise Page
 */
.enterprise-hero-section .background {
  background-color: #0082c9;
  background-image: none;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: cover;
  border-radius: 0 !important;
  height: 70vh;
  min-height: 600px;
  max-height: 800px; }
.enterprise-hero-section .topbanner {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0px;
  float: right;
  overflow: hidden;
  zoom: 0.55; }

.what-you-get-section {
  background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 150px);
  background: linear-gradient(to bottom, #fff 0, #f6f6f6 150px);
  background: -webkit-linear-gradient(to bottom, #fff 0, #f6f6f6 150px); }
  .what-you-get-section .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .what-you-get-section .container p {
      max-width: 43.24878em;
      margin: 0 auto; }
    .what-you-get-section .container ul {
      max-width: 43.24878em;
      margin: 0 auto;
      margin-top: 40px; }
      .what-you-get-section .container ul .check {
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.0;
        color: #555555;
        list-style-image: url("../img/enterprise/check.svg");
        list-style-position: inside; }

.section--expertise {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px); }
  .section--expertise .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .section--expertise .container .section--intro {
      max-width: 43.24878em;
      margin: 0 auto; }
    .section--expertise .container .expertise__ilustration {
      background: url(../img/enterprise/ilustration_matterexperts.svg) no-repeat center/contain;
      width: 65vh;
      height: 45vh;
      max-width: 100%;
      max-height: 50vw;
      margin: 0 auto;
      position: relative; }

.section--security {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px); }
  .section--security .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .section--security .container .section--intro {
      max-width: 43.24878em;
      margin: 0 auto; }
    .section--security .container .security__ilustration {
      background: url(../img/enterprise/security-new.svg) no-repeat center/contain;
      width: 50vh;
      height: 45vh;
      margin: 0 auto;
      max-width: 100%;
      max-height: 50vw;
      position: relative; }

.section--lifecycle {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px); }
  .section--lifecycle .container {
    padding-top: 8.54297em;
    padding-bottom: 8.54297em; }
    .section--lifecycle .container .section--intro {
      max-width: 43.24878em;
      margin: 0 auto; }
    .section--lifecycle .container .lifecycle__ilustration {
      background: url(../img/enterprise/data_safe-new.svg) no-repeat center/contain;
      width: 60vh;
      height: 45vh;
      margin: 0 auto;
      max-width: 100%;
      max-height: 50vw;
      position: relative; }

/* Features section */
.Section-Features-Nextcloud {
  background: -webkit-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: -o-linear-gradient(#fff 0%, #f6f6f6 150px);
  background: linear-gradient(#fff 0%, #f6f6f6 150px);
  overflow: hidden;
  height: 200vh;
  position: relative;
  padding-top: 8.54297em;
  padding-bottom: 8.54297em; }
  @media (max-width: 1200px) {
    .Section-Features-Nextcloud {
      padding-top: 60px;
      height: 100vh; } }
  .Section-Features-Nextcloud h2 {
    font-size: 60px; }
  .Section-Features-Nextcloud .img_carousel {
    padding-top: 100px;
    position: relative; }
    @media (max-height: 800px) {
      .Section-Features-Nextcloud .img_carousel {
        padding-top: 60px; } }
    .Section-Features-Nextcloud .img_carousel img {
      float: right;
      width: 582px;
      height: 474px; }
      @media (max-height: 800px) {
        .Section-Features-Nextcloud .img_carousel img {
          width: 490px;
          height: 402px; } }
  .Section-Features-Nextcloud .indicators {
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 1;
    position: absolute;
    z-index: 2;
    bottom: 50vh;
    right: 0; }
    @media (max-width: 768px) {
      .Section-Features-Nextcloud .indicators {
        display: none; } }
    .Section-Features-Nextcloud .indicators .btn_carousel {
      margin-top: 10px;
      width: 14px;
      height: 14px;
      color: transparent;
      border: 1px solid #0082c9;
      background-color: #0082c9;
      border-radius: 50%;
      padding: 0;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out; }
    .Section-Features-Nextcloud .indicators .btn_carousel.active {
      background-color: transparent;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

/*# sourceMappingURL=enterprise.css.map */
