@import "variables.scss";
@import "modules/secondmenu";

.features-background {
  background: url("../img/headers/yourcloud.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.image--floated{
	float: right;
}

.section--files {
	padding-top: 80px;
}

section {
	padding: 100px 0;

	.section--paragraph__tittle {
		padding: 0;
	}
}
