.nav {
  z-index: 1;
  top: 20px;
  position: absolute;
  left: 0;
  right: 0; }
  .nav .container {
    position: relative; }
    .nav .container .brand {
      position: absolute;
      top: 0;
      left: 0; }
      .nav .container .brand .logo {
        background: url(../img/logo/logo_nextcloud_white.svg) no-repeat center/contain;
        height: 50px;
        width: 71px;
        display: inline-block; }
    .nav .container .nav__bg-wrapper {
      position: absolute;
      left: 0;
      top: 100%;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      will-change: opacity; }
      .nav .container .nav__bg-wrapper.is-visible {
        visibility: visible;
        opacity: 1; }
      .nav .container .nav__bg-wrapper .nav__bg {
        width: 300px;
        height: 200px;
        background: white;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.11);
        border: solid 1px #f3f3f3;
        border-radius: 4px;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        will-change: transform; }
        .nav .container .nav__bg-wrapper .nav__bg:before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 0;
          width: 0;
          border: 8px solid transparent;
          border-bottom-color: #FFFFFF; }
        .nav .container .nav__bg-wrapper .nav__bg.is-animatable {
          -webkit-transition: 0.3s;
          transition: 0.3s; }
    .nav .container .nav__sections {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style-type: none;
      margin-top: 13px; }
      .nav .container .nav__sections .nav__section {
        position: relative; }
        .nav .container .nav__sections .nav__section:hover .nav__label {
          opacity: 0.6;
          cursor: default;
          text-decoration: none; }
        .nav .container .nav__sections .nav__section:hover .nav__links {
          visibility: visible;
          opacity: 1; }
        .nav .container .nav__sections .nav__section .nav__label {
          display: inline-block;
          padding-left: 30px;
          padding-bottom: 5px;
          color: white;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          font-size: 16px; }
        .nav .container .nav__sections .nav__section .nav__links {
          position: absolute;
          top: 100%;
          left: 0;
          padding: 1.875em;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          list-style-type: none; }
          .nav .container .nav__sections .nav__section .nav__links .nav__item {
            color: #666;
            margin-top: 15px;
            white-space: nowrap; }
            .nav .container .nav__sections .nav__section .nav__links .nav__item a {
              font-size: 16px;
              color: #555555; }
            .nav .container .nav__sections .nav__section .nav__links .nav__item:not(:last-of-type) {
              margin-bottom: 0.625em; }
    .nav .container .right-buttons {
      position: absolute;
      top: 0;
      right: 0; }
      .nav .container .right-buttons ul {
        margin-top: 13px; }
        .nav .container .right-buttons ul li {
          display: inline-block;
          padding-left: 30px;
          padding-bottom: 5px;
          font-size: 16px; }
          .nav .container .right-buttons ul li a {
            color: white; }

/*# sourceMappingURL=header.css.map */
