/*
Error: Invalid CSS after "...     z-index: 2": expected "{", was ";"
        on line 415 of header.scss

410:                 margin: 0 auto;
411:                 display: inline-block;
412:                 position: absolute;
413:                 top: 90px;
414: <<<<<<< HEAD
415:                 z-index: 2;
416: =======
417:                 margin-left: 60px;
418:                 //top: 50%;
419:                 //left: 50%;
420:                 //-webkit-transform: translate(-50%, -50%);

Backtrace:
header.scss:415
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:409:in `media_directive'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:222:in `special_directive'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:197:in `directive'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...     z-index: 2\": expected \"{\", was \";\"\A         on line 415 of header.scss\A \A 410:                 margin: 0 auto;\A 411:                 display: inline-block;\A 412:                 position: absolute;\A 413:                 top: 90px;\A 414: <<<<<<< HEAD\A 415:                 z-index: 2;\A 416: =======\A 417:                 margin-left: 60px;\A 418:                 //top: 50%;\A 419:                 //left: 50%;\A 420:                 //-webkit-transform: translate(-50%, -50%);"; }
