/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 465 of home.scss

460: }
461: 
462: .news table {
463: 	margin-left: -15px;
464: }

Backtrace:
home.scss:465
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:1080:in `tok!'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:536:in `block'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 465 of home.scss\A \A 460: }\A 461: \A 462: .news table {\A 463: 	margin-left: -15px;\A 464: }"; }
