@import "variables.scss";
@import "transparent-navbar.scss";

/**
 * Home page jumbotron
 */
.jumbotron {
  background: linear-gradient(to bottom, $nextcloud-blue, #3e9ed8 100%, #d8d8d8);
  padding: 0;
  margin-bottom: 0;
  background-size: 100% auto, cover;
  height: 100vh;
  min-height: 700px;
  border-radius: 0 !important;
  position: relative;

    @media (max-width: $break-big) {
      min-height: 600px
    }

    .jumbotron--heading-1 {
      padding-top: 10px;

      @media (max-width: $break-small) {
        max-width: 300px;
      }

      @media (min-width: $break-small) {
        max-width: 500px;
      }
    }

    .jumbotron--lead {
      width: 377px;
      @media (max-width: $break-big) {
        width: 250px;
      }
  }

  p {
    margin-top: 50px;
  }

  .topbanner {
    /* 		background-image: url("../img/home/top-banner@2x.png"); */
    /* 		background-position: bottom 0 right 0;  */
    /* 		background-size: contain; */
    /* 		background-repeat: no-repeat; */
    background: url(../img/home/top-banner@2x.png) bottom 0 right 0/contain no-repeat;
    width: auto;
    height: auto;
    max-width: 55vw;
    max-height: 90vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom:0;
    right: 0;
    overflow: hidden;
    @media (max-width: $break-small) {
      background-image: url("../img/home/top-banner@2x_mobile.png");
      padding-top: 100%;
    }
    @media (min-width: $break-small) and (max-width: $break-big) {
      background-image: url("../img/home/top-banner@2x_mobile.png");
      padding-top: 55%;
    }

  }

  .topbanner img {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .toptext {
    position: absolute;
    top: 30vh;
   padding-left: 0;
    margin-left: 0;

    @media (max-width: $break-big) {
      top: 120px;
	  margin-left: 5%;
    }
    .announcement {
      background-color:  rgba(0, 115, 178, 0.51);
      border-radius: 20px;
      padding: 0 12px 0 5px;
      text-decoration: none;
      color: white;
      line-height: 26px;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      @media (max-width: $break-small) {
        margin-left: -20px;
        width: calc(100% + 35px);
        border-radius: 0;
      }

      .type {
        padding: 0 6px;
        font-size: 11px;
        line-height: 16px;
        font-weight: 600;
        background: $orange;
        text-transform: uppercase;
        border-radius: 10px;

        @media (max-width: $break-small) {
          margin-left: 10px;
        }
      }

      .message {
        margin: 0 16px 0 6px;
        font-size: 13px;

        @media (max-width: $break-small) {
          font-size: 15px;
          line-height: 22px;
          margin: 10px 10px;
        }

        &:after {
          position: absolute;
          display: inline-block;
          content: ' ';
          background-image: url('../img/next.svg');
          background-size: 12px 12px;
          height: 12px;
          width: 12px;
          top: 10px;
          margin-left: 5px;
          transition: all 0.3s ease;

          @media (max-width: $break-small) {
            position: relative;
            top: 2px;
          }
        }

          &:hover {
            &:after {
              margin-left: 10px;
            }
          }
      }
    }
  }
}

.jumbotron > .container-fluid > .col-md-6 > p > a {
  width: 290px;
  height: 60px;
  padding-top: 16px;
  text-indent: -30px;
}



/**
 * Home page: Why Nextcloud?
 */
.icon-row {
  padding-bottom: 100px;
}
.icon-row img {
  height: 200px;
}
.icon-row h4 {
  padding-top: 39px;
}


/**
 * Home page: Introducing Nextcloud X
 */
.right-text-grey {
  opacity: 0;
  padding-top: 75px;
  &:first-child {
    padding-top: 50px;
  }
  @media (max-width: 768px){
    text-align: center;
  }
}


.introducing-nc-release {
  padding-top: 100px;
  padding-bottom: 75px;

  @media (max-width: $break-small) {
    padding-top: 50px;
  }

  img {
    width: 582px;
    height: 474px;
    display: block;
    margin: 0 auto;

    @media (max-width: $break-small) {
      width: 90%;
      height: 90%;
    }
  }

  p {

    &:last-child {
      margin-top: 30px;
    }
  }
}


/**
 * Home page: Stay up to date
 */


/**
 * Home page: perfect-for-home-and-business
 */

#perfect-for-home-and-business {
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  background-image: url('../img/home/perfect-for-home-and-business.jpg');
  background-size: cover;
  @media (max-width: $break-small) {
    background-image: url('../img/home/perfect-for-home-and-business-mobile.jpg');
  }


  .btn-primary {
    width: 430px;
  }

  @media (min-width: $very-wide) {
    padding-top: 120px;
    padding-bottom: 180px;
  }

  @media (max-width: $break-small) {
    .btn-primary {
      width: 300px;

      .icon-arrow {
        background: url(../img/arrow_right.svg) center/contain no-repeat;
        position: absolute;
        width: 20px;
        height: 100%;
        right: 20px;
        top: 2px;
      }
    }
  }

  .section--heading-1 {
    width: 469px;
    color: white;

    @media (max-width: $break-small) {
      color: white;
      width: 100%;
    }
  }

  .section--paragraph {
    color: #ffffff;
    width: 469px;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: $break-small) {
      width: 90%;
      padding-top: 10px;
    }
  }
}


.community-icon {
  height:207px;
  width: 177px;
  margin: auto;
  @media (max-width: 1200px) {
    margin: auto;
  }
}

.privacy-icon {
  height:200px;
  width: 202px;
  margin: auto;
  @media (max-width: 1200px) {
    margin: auto;
  }
}

.flexibility-icon {
  height:206px;
  width: 205px;
  margin: auto;
  @media (max-width: 1200px) {
    margin: auto;
  }
}

#why-nextcloud {
  padding-top: 130px;
}

.Section-Introducing-Nextcloud {
  background-color: transparent;
  overflow: hidden;
  height: 200vh;
  position: relative;
  padding-top: 130px;
  @media (max-width: $navbar-breaksize) {
    padding-top: 60px;
    height: 100vh;
  }

  .img_carousel {
    padding-top: 100px;
    position:relative;
    @media (max-height: 800px) {
      padding-top: 60px;
    }

    img {
      float: right;
      width: 582px;
      height: 474px;
      @media (max-height: 800px) {
        width: 490px;
        height: 402px;
      }
    }
  }

  .indicators {
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 1;
    position: absolute;
    z-index: 2;
    bottom: 50vh;
    right: 0;
    @media (max-width: $break-small) {
      display: none;
    }

    .btn_carousel{
      margin-top: 10px;
      width: 14px;
      height: 14px;
      color: transparent;
      border: 1px solid $nextcloud-blue;
      background-color: $nextcloud-blue;
      border-radius: 50%;
      padding: 0;
      -webkit-transform: scale(.5);
      -ms-transform: scale(.5);
      transform: scale(.5);
      -webkit-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    }

    .btn_carousel.active{
      background-color: transparent;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
}


.news-section {
  position: relative;
  overflow: hidden;

  .news {
    background: $nextcloud-blue;
    padding-bottom: 120px;

    &:before {
      background: url(../img/home/pattern.svg) bottom 0 right 0/contain no-repeat;
      height: 90vh;
      width: 2000px;
      position: absolute;
      left: 50%;
      background-position: bottom;
      transform: translateX(-50%);
    }

    @media (max-width: $break-small) {
      .container {
        width: 95%;
      }
    }

    @media (min-width: $break-small) and (max-width: $break-big) {
      .container {
        width: 720px !important;
      }

    }

    @media (min-width: $break-big) and (max-width: 1005px) {
      .container {
        width: 950px !important;
      }
    }

    .col-md-4 {
      background: white;
      margin-bottom: 90px;
      width: 28%;
      @media (max-width: 1199px) {
        width: 26%;
      }
      @media (max-width: 991px) {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }

    .row {

      .col-md-4 {
        padding: 20px;
        margin: 30px;
        min-height: 500px;

        @media (max-width: $break-small) {
          margin: 30px auto;
        }
      }
    }

    h1 {
      /* 	font-family: OpenSans; */
      text-align: center;
      color: #ffffff;
      margin-top: 120px;
      margin-bottom: 80px;
    }


    h3 {
      /*   font-family: OpenSans; */
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      text-align: left;
      color: #555555;
    }

    p {
      /* 	font-family: OpenSans; */
      font-size: 60px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.88;
      color: #ffffff;
    }

    ul {
      list-style-type: none;
      padding: 0;
      -webkit-padding-start: 0px;
      -moz-padding-start: 0px;
    }

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 2px #eeeeee;
    }

    a {
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.61;
      text-align: left;
      color: #555555;
    }
  }
}

.stay-up-to-date {
  padding: 50px 0;

  .section--heading-2 {
    margin: 0;

    @media (max-width: $break-small) {
      text-align: left;
    }
  }

  .section--paragraph {
    margin: 0;

    @media (max-width: $break-small) {
      padding-top: 15px;
      text-align: left;
    }
  }

  .button {
    @media (max-width: $break-small) {
      float: left;
    }
  }
}


/* hide the image and table for the tweets */

.news .contribook_microbloguserpicture img {
  width: 0px !important;
}

.news table {
  margin-left: -15px;
}

.revealOnScroll {
	opacity: 0;
}
