@import "variables.scss";
@import "transparent-navbar.scss";

/**
 * Home page jumbotron
 */
.jumbotron {
  background: linear-gradient(to bottom, $nextcloud-blue, #3e9ed8 100%, #d8d8d8);
  padding: 0;
  margin-bottom: 0;
  background-size: 100% auto, cover;
  height: 100vh;
  min-height: 700px;
  border-radius: 0 !important;
  position: relative;
  @media (max-width: $break-big) {
    min-height: 600px
  }

  h1 {
    padding-top: 0;
    color: white;
    @media (max-width: $break-big) {
      width: 250px;
      letter-spacing: -1px;
      font-size: 35px; 
      line-height: 1.2;
    }
  }

  h2 {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    width: 377px;
    @media (max-width: $break-big) {
      font-size: 16px;
      line-height: 1.6;
      width: 250px;
    }
  }

  p {
    margin-top: 50px;
  }

  .topbanner {
    /* 		background-image: url("../img/home/top-banner@2x.png"); */
    /* 		background-position: bottom 0 right 0;  */
    /* 		background-size: contain; */
    /* 		background-repeat: no-repeat; */
    background: url(../img/home/top-banner@2x.png) bottom 0 right 0/contain no-repeat;
    width: auto;
    height: auto;
    max-width: 55vw;
    max-height: 90vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom:0;
    right: 0;
    overflow: hidden;
    @media (max-width: $break-small) {
      background-image: url("../img/home/top-banner@2x_mobile.png");
      padding-top: 100%;
    }
    @media (min-width: $break-small) and (max-width: $break-big) {
      background-image: url("../img/home/top-banner@2x_mobile.png");
      padding-top: 55%;
    }

  }

  .topbanner img {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .toptext {
    position: absolute;
    /* 		margin-top: 50px; */
    top: 30vh;
    margin-left: 5%;
    @media (max-width: $break-big) {
      top: 120px;
      /* 		  margin-top: 50px; */
    }
  }
}

.jumbotron > .container-fluid > .col-md-6 > p > a {
  width: 290px;
  height: 60px;
  padding-top: 16px;
  text-indent: -30px;
}



/**
 * Home page: Why Nextcloud?
 */
.icon-row {
  padding-bottom: 100px;
}
.icon-row img {
  height: 200px;
}
.icon-row h4 {
  padding-top: 39px;
}
.highlights_text {
  font-size: 20px;
  color: #434343;
  line-height: 1.36;
  font-weight: 100;
}


.introducing-nc-release {
  padding-top: 100px;
  padding-bottom: 75px;

  @media (max-width: $break-small) {
    padding-top: 50px;
  }

  img {
    width: 582px;
    height: 474px;
    display: block;
    margin: 0 auto;

    @media (max-width: $break-small) {
      width: 90%;
      height: 90%;
    }
  }

  p {

    &:last-child {
      margin-top: 30px;
    }
  }
}


/**
 * Home page: Stay up to date
 */
.stay-up-to-date {
  background-color: #eaeaea;
  h5 {
    font-size: 35px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: $dark-blue;
    padding-bottom: 40px;
  }
  @media (max-width: $break-small) {
    .container {
      width: 100%;
    }
  }
}

/**
 * Home page: perfect-for-home-and-business
 */

#perfect-for-home-and-business {
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  background-image: url('../img/home/perfect-for-home-and-business.jpg');
  background-size: cover;
  @media (max-width: $break-small) {
    background-image: url('../img/home/perfect-for-home-and-business-mobile.jpg');
  }


  .btn-primary {
    width: 430px;
  }

  @media (min-width: $very-wide) {
    padding-top: 120px;
    padding-bottom: 180px;
  }

  @media (max-width: $break-small) {
    .btn-primary {
      width: 300px;

      .icon-arrow {
        background: url(../img/arrow_right.svg) center/contain no-repeat;
        position: absolute;
        width: 20px;
        height: 100%;
        right: 20px;
        top: 2px;
      }
    }
  }

  h2 {
    margin-left: 5%;
    font-size: 60px;
    line-height: 0.9;
    color: #ffffff;
    width: 469px;
    @media (max-width: $break-small) {
      width: 90%;
      font-size: 35px;
      line-height: 1.3;
    }
  }

  p {
    margin-left: 5%;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: #ffffff;
    width: 469px;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: $break-small) {
      width: 90%;
      padding-top: 10px;
    }
  }
}

/**
 * Home page: Stay up to date
 */
#stay-up-to-date {
  a {
    width: 400px;
  }
}

.community-icon {
  height:207px;
  width: 177px;
  margin: auto;
  @media (max-width: 1200px) {
    margin: auto;
  }

}

.privacy-icon {
  height:200px;
  width: 202px;
  margin: auto;
  @media (max-width: 1200px) {
    margin: auto;
  }
}

.flexibility-icon {
  height:206px;
  width: 205px;
  margin: auto;
  @media (max-width: 1200px) {
    margin: auto;
  }
}

section#why-nextcloud {
  padding-top: 130px;

}

.Section-Introducing-Nextcloud {
  background-color: transparent;
  overflow: hidden;
  height: 100%;
  position: relative;
  padding-top: 130px;
    @media (max-width: $navbar-breaksize) {
      padding-top: 60px;
      height: 100%;
    }

    .container {
      padding-top: 60px;

      .image-back {
        position: absolute;
        padding-bottom: 50%;
      }

      .image-top-container {
        position: relative;
        overflow: hidden;
        z-index: 1;
        width: 507px;
        height: 318px;
        top: 17px;
        left: 17px;

        .image-top {
          position: absolute;
          width: 100%;
          bottom: -954px;
          transition: all ease-in 0.3s;
        }
      }
      
      .texts-wrapper {
        float: right;

        .right-text-grey {
          padding-top: 75px;
          padding-bottom: 300px;

          p {
            font-size: 18px;
            font-weight: 100;
            color: #555555;
            padding-bottom: 30px;
          }
        }

        .right-text-grey:not(:nth-child(1)) {
          padding-bottom:50%;
          padding-top: 50%;
        }
      }
    }

    .indicators {
      -webkit-transition: all .5s;
      transition: all .5s;
      opacity: 0;
      position: fixed;
      z-index: 2;
      bottom: 50vh;
      right: 0;

      .btn_carousel {
        margin-top: 10px;
        width: 14px;
        height: 14px;
        color: transparent;
        border: 1px solid $nextcloud-blue;
        background-color: $nextcloud-blue;
        border-radius: 50%;
        padding: 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5);
        -webkit-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;

        a {
          width: 14px;
          height: 14px;
          }
        }

      .btn_carousel.active{
        background-color: transparent;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);

        a {
          background-color: transparent;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          }
        }
      }
    
  .active {
    opacity: 1;
  }
}


.news-section {
  position: relative;
  overflow: hidden;

  .news {
    background: $nextcloud-blue;
    padding-bottom: 120px;

    &:before {
      background: url(../img/home/pattern.svg) bottom 0 right 0/contain no-repeat;
      height: 90vh;
      width: 2000px;
      position: absolute;
      left: 50%;
      background-position: bottom;
      transform: translateX(-50%);
    }

    @media (max-width: $break-small) {
      .container {
        width: 95%;
      }
    }

    @media (min-width: $break-small) and (max-width: $break-big) {
      .container {
        width: 720px !important;
      }

    }

    @media (min-width: $break-big) and (max-width: 1005px) {
      .container {
        width: 950px !important;
      }
    }

    .col-md-4 {
      background: white;
      margin-bottom: 90px;
      width: 28%;
      @media (max-width: 1199px) {
        width: 26%;
      }
      @media (max-width: 991px) {
        width: 90%;
      }
    }

    .row {

      .col-md-4 {
        padding: 20px;
        margin: 30px;
        min-height: 500px;
      }
    }

    h1 {
      /* 	font-family: OpenSans; */
      font-size: 60px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.88;
      text-align: center;
      color: #ffffff;
      margin-top: 120px;
      margin-bottom: 80px;

    }


    h3 {
      /*   font-family: OpenSans; */
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      text-align: left;
      color: #555555;
    }

    p {
      /* 	font-family: OpenSans; */
      font-size: 60px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.88;
      color: #ffffff;
    }

    ul {
      list-style-type: none;
      padding: 0;
      -webkit-padding-start: 0px;
      -moz-padding-start: 0px;
    }

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 2px #eeeeee;
    }

    a {
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.61;
      text-align: left;
      color: #555555;
    }
  }
}


/* hide the image and table for the tweets */

.news .contribook_microbloguserpicture img {
  width: 0px !important;
}

.news table {
  margin-left: -15px;
}

.revealOnScroll {
	opacity: 0;
}
