/*Colors*/
/*Shadows*/
/*Breakpoints*/
/* Make Navbar transparent */
.nav:not(.scrolled) {
  background-color: transparent;
  position: absolute; }

.jobs-background {
  background: url("../img/headers/team.jpg") no-repeat;
  background-position: center; }

.section-company-description {
  margin-top: 130px; }
  .section-company-description h3 {
    font-size: 22px; }
  .section-company-description p {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 18px;
    text-align: center; }

.section-jobs-opening {
  margin-top: 70px;
  margin-bottom: 100px; }
  .section-jobs-opening a:hover, .section-jobs-opening a:focus {
    text-decoration: none;
    font-decoration: none;
    color: #2a2a36;
    border-bottom: none;
    cursor: pointer;
    cursor: hand; }
  .section-jobs-opening h3 {
    position: relative; }
  .section-jobs-opening .icon-arrow {
    background: url(../img/arrow_down.svg) center/contain no-repeat;
    position: absolute;
    width: 20px;
    height: 100%;
    right: 20px;
    top: 2px; }
  .section-jobs-opening .wrapper-text {
    padding-top: 20px;
    width: 60%;
    margin: 0 auto; }
    .section-jobs-opening .wrapper-text p {
      max-width: 700px;
      padding-top: 20px;
      font-size: 18px; }
    @media (max-width: 768px) {
      .section-jobs-opening .wrapper-text {
        margin: 0;
        width: 100%; } }
