@import "variables.scss";
@import "transparent-navbar.scss";

.background {
  background: url("../img/jobs/team.jpg") no-repeat;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  background-position: bottom 0 right 0;
  background-size: cover;
  border-radius: 0 !important;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;

	.container {
		top: 50%;
		transform: translateY(-50%);
		position: relative;
		margin-left: 5%;
		padding: 0;
	}

	h1 {
		padding-top: 0;
		color: white;
	}

	h2 {
		color: white;
		font-size: 18px;
		line-height: 1.6;
	}
}

.hiring {
		margin-top: 120px;
		margin-bottom: 50px;
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	h3{
		font-size: 22px;
	}
	p {
		margin: 10px;
	}
}
