@import "variables.scss";

/**
 * Jobs page
 */

.hiring {
		margin-top: 120px;
		margin-bottom: 50px;
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	h3{
		font-size: 22px;
	}
	p {
		margin: 10px;
	}
}
