@import "variables.scss";

/**
 * This file contains fixes for legacy pages
 */

html {
	margin-top: 0 !important;
}

footer p {
  padding: 0 !important;
  padding-top: 20px !important;
}

.navbar:not(.scrolled) .btn-primary  {
  border-color: white;
}

.collapse.in p:first-child,
.collapsing p:first-child {
  margin: 0;
}

.Header-Navigation .navbar .overlay-menu ul .btn-primary a {
/*   width: 169px; */
/*   height: 52px; */
/*   bottom: 4px; */
  @media (max-width: $navbar-breaksize) {
    padding: 0!important;
  }
}
