@import "variables.scss";
@import "transparent-navbar.scss";


/**
 * Migration Page
 */
.migration-background {
  background-image: url("../img/enterprise/enterprise.jpg");
  background-position: bottom 0 right 0;

  @media (max-width: $navbar-breaksize) {
	min-height: 850px !important; 
	max-height: 1000px !important;
  }
	.topheader {
		@media (max-width: $break-small) {
		top: 20% !important;
		}
	}
	
  .topquote {
    position: absolute;
    top: 50%;
	left: 60%;
    margin: 0;
    padding: 0;
    max-width: 500px;

	@media (max-width: $very-wide) {
	  max-width: 390px;
    }
    @media (max-width: $navbar-breaksize) {
		max-width: 95%;
		max-width: 500px;
		top: 65%;
		left: 28%;
		margin-right: 5px;
    }
    
    
	@media (max-width: $break-small) {
		top: 55%;
		left: 8%;
	}
	
    h2 {
		text-align: right;
		a {
			color: white;
			&:hover {
				text-decoration: underline;
				color: white;
			}
		}
	}
	
	h3 {
		color: white;
		font-size: 18px;
		text-align: left;
		.big {
			font-size: 28px;
			font-weight: 100;
		}
	}

	}
}
