@import "variables.scss";
@import "transparent-navbar.scss";

/* gradient behind nav */

/* background */
.outlook-background {
  background-image: url("../img/headers/outlook-header.jpg");
/*   background-position: bottom 50% right 50%; */
  background-size: cover;
  /*   text-shadow: 0px 0px 8px black; */
}

.yt-img-overlay {
	padding-top:50px;
}
/* feature blocks */

.featurerow {
	margin-top: 100px;
	padding-bottom: 50px;

	.floated {
		float: right;
		padding-bottom: 50px;
	}
	
	p {
		margin-top: 15px;
	}
	
	img {
		box-shadow: 0px 0px 4px black;
	}
	
	h1 {
		margin-bottom: 50px;
		text-align: center;
	}
	
	@media (min-width: $break-big) {
		.yt-img-overlay {
			.yt-play-btn {
				padding-left: 42%;
				padding-top: 25%;
				width: 100%;
				height: 100%;
				i {
				width: 102px;
				height: 75px;
				}
				
			}
		}
	}
}

.featureblock {
	.section--heading-1 {
		margin-top: 5px;
		color: #2a2a36;
		margin-bottom: 5px;
	}	

	.wrapper--buttons {
		.button {
			margin: 20px 10px 20px 20px;
		}
	}
}

.quote {
	margin: 80px 0 50px 0;
	padding: 50px 0px;
	background: $nextcloud-blue;
	p {
		color: white;
	}
	.hyperlink {
		color: white;
	}
}



