/*Colors*/
/*Shadows*/
/*Breakpoints*/
/*@import "transparent-navbar.scss";*/
/* gradient behind nav */
.nav:not(.scrolled) {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }

/* background */
.outlook-background {
  background-image: url("../img/outlook/outlook-header.jpg");
  background-position: bottom 50% right 50%;
  /*   text-shadow: 0px 0px 8px black; */ }

/* feature blocks */
.featurerow {
  margin-top: 100px;
  padding-bottom: 50px; }
  .featurerow p {
    margin-top: 15px; }
  .featurerow img {
    box-shadow: 0px 0px 4px black; }
  .featurerow h1 {
    margin-bottom: 50px;
    text-align: center; }

.featureblock {
  padding-top: 10px; }
  .featureblock h2 {
    font-size: 40px;
    margin-top: 5px;
    color: #2a2a36;
    margin-bottom: 5px; }
  .featureblock .morebuttondiv {
    margin-top: 50px; }
  .featureblock .morebutton {
    margin-top: 20px;
    min-width: 300px;
    width: 70%; }

/* quote background */
.quote {
  margin: 80px 0 50px 0;
  padding: 150px 0px 150px 0px;
  background: #0082c9; }
  .quote p {
    color: white; }

/* Youtube dialog */
.yt-img-overlay {
  position: relative;
  left: 0px;
  top: 0px;
  overflow: hidden;
  display: block;
  max-width: 90%;
  height: auto;
  margin: 1%;
  /* 	margin-top: 3%; */
  text-decoration: none;
  color: white; }
  .yt-img-overlay img {
    width: 110%;
    height: 110%;
    margin: -11% 0 -11% -5%; }
  .yt-img-overlay .col-md-4 {
    /* compensate for the 1% margin yt images need */
    width: 31%; }
  .yt-img-overlay .col-md-3 {
    /* compensate for the 1% margin yt images need */
    width: 22.8%; }
  .yt-img-overlay .yt-play-btn {
    padding-left: 42%;
    padding-top: 22%;
    /* 	padding-top: 20%; */
    position: absolute;
    top: 0;
    /* 	top: -5%; */
    /* 	left: -5% */
    /* 	padding-left: 45%; */
    width: 100%;
    height: 100%; }

.yt-play-btn i {
  /* 	left: 5% */
  background-image: url("../img/common/YTplay.svg");
  background-position: center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-clip: border-box;
  border: 0px;
  /*		min-height: 10px !important; */
  z-index: 0 !important;
  width: 68px;
  height: 50px;
  display: inline-block; }

.yt-play-btn:hover i {
  background-image: url("../img/common/YTplayHover.svg");
  transition: background-image 0.1s;
  -webkit-transition: background-image 0.1s;
  /*	width: 100%;
  	height: 100%;*/ }

.YouTubeDialog {
  width: 50% !important;
  height: 50% !important;
  padding: 5px; }

.YouTubeDialog .ui-dialog-content {
  height: 100% !important; }

.yt-row {
  /* correction for row with yt images */
  /* 	margin-left: 15% !important; */ }

@media (max-width: 991px) {
  .YouTubeDialog {
    width: 100% !important;
    height: 40% !important;
    /* 		padding: 5px; */ }

  .yt-row {
    margin-left: 0% !important; }

  .col-md-4.yt-img-overlay {
    /* compensate for the 1% margin yt images need */
    width: 97%; }

  .col-md-3.yt-img-overlay {
    /* compensate for the 1% margin yt images need */
    width: 97%; } }
/*	Make YouTube videos responsive */
@media (min-width: 995px) {
  .videoWrapper {
    position: relative;
    padding-bottom: 28.12%;
    /* 16:9 - lets them be quarter screen size.	56.25% for full */
    padding-top: 25px;
    width: 50%;
    /* 100%	for full screen size */
    height: 0; }

  .videoWrapper iframe {
    position: absolute;
    margin-left: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; } }
@media (max-width: 996px) {
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    width: 100%;
    padding-left: -50%; }

  .videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=outlook.css.map */
