/*
Error: Inconsistent indentation: previous line was indented by "      \t\t\t", but this line was indented by "      \t\t".
        on line 73 of secure.css

68:   @media (min-width: 768px) {
69:     .process {
70:       height: 850px;
71:       /*		.number1 {
72:       			left: -12%;
73:       		}
74:       		.number2 {
75:       			left: 1%;
76:       		}
77:       		.number3 {
78:       			left: 15%;

Backtrace:
secure.css:73
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:501:in `try_comment'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:474:in `block in tabulate'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each_with_index'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:444:in `tabulate'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: previous line was indented by \"      \t\t\t\", but this line was indented by \"      \t\t\".\A         on line 73 of secure.css\A \A 68:   @media (min-width: 768px) {\A 69:     .process {\A 70:       height: 850px;\A 71:       /*		.number1 {\A 72:       			left: -12%;\A 73:       		}\A 74:       		.number2 {\A 75:       			left: 1%;\A 76:       		}\A 77:       		.number3 {\A 78:       			left: 15%;"; }
