@import "variables.scss";
@import "transparent-navbar.scss";

.storage-background {
  background: url("../img/headers/storage.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 200px;
}

.image--floated{
	float: right;
}

section {
/* 	margin-top: 150px; */
/*	margin-bottom: 50px;*/
/* 	padding: 50px 0; */

	.section--paragraph__tittle {
		padding: 0;
	}
}

.section--storage {
	margin-top: 150px;
	.row {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.featuretitle {
    text-align: center;
}


.section--whitepaper {

}

