/*
Error: Invalid CSS after "transparent": expected expression (e.g. 1px, bold), was ";"
        on line 3 of support.css

1: /* Make Navbar transparent *\/
2: .nav:not(.scrolled) {
3:   background-color: transparent;
4:   position: absolute; }
5: 
6: .support-background {
7:   background: url("../img/headers/support.jpg") no-repeat;
8:   background-position: center; }

Backtrace:
support.css:3
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/script/lexer.rb:229:in `expected!'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/script/parser.rb:738:in `assert_done'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/script/parser.rb:76:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/script/parser.rb:240:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/script.rb:27:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:1151:in `parse_script'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:721:in `parse_property'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:692:in `parse_property_or_rule'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:658:in `parse_line'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:536:in `build_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:555:in `block in append_children'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:554:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:554:in `append_children'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:545:in `block in build_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:538:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:538:in `build_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:555:in `block in append_children'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:554:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:554:in `append_children'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/home/jospoortvliet/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"transparent\": expected expression (e.g. 1px, bold), was \";\"\A         on line 3 of support.css\A \A 1: /* Make Navbar transparent */\A 2: .nav:not(.scrolled) {\A 3:   background-color: transparent;\A 4:   position: absolute; }\A 5: \A 6: .support-background {\A 7:   background: url(\"../img/headers/support.jpg\") no-repeat;\A 8:   background-position: center; }"; }
