@import "variables.scss";
@import "transparent-navbar.scss";

.workflow-background {
  background: url("../img/headers/workflow.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.image--floated{
	float: right;
}

.section--desktop {
	padding-top: 80px;
}

section {
	padding: 100px 0;

	.section--paragraph__tittle {
		padding: 0;
	}
}


.feature--block {
    padding-top: 60px;
}

.row {
    padding-top: 60px;
}

.featuretitle {
    text-align: center;
}

footer {
    margin-top: 50px;
}

.quote {
	margin: 80px 0 50px 0;
	padding: 50px 0px;
	background: $nextcloud-blue;
	p {
		color: white;
	}
	.hyperlink {
		color: white;
	}
}
